<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xoa.dao.menu.SysFunctionMapper">
	<resultMap id="menuResultMap" type="com.xoa.model.menu.SysFunction">
		<id column="FUNC_ID" property="fId"  javaType="int" />
		<result column="MENU_ID" property="id"  javaType="string" />
		<result column="FUNC_NAME" property="name" javaType="string" />
		<result column="FUNC_CODE" property="url" javaType="string" />
		<result column="FUNC_EXT" property="ext" javaType="string" />
	</resultMap>
	<select id="getDatagrid" resultMap="menuResultMap"
		parameterType="string">
		SELECT FUNC_ID,
		FUNC_NAME,MENU_ID,FUNC_NAME,FUNC_CODE,FUNC_EXT FROM sys_function WHERE
		MENU_ID LIKE CONCAT(#{menuId},'__')
	</select>
	<select id="childMenu" resultMap="menuResultMap">
		SELECT FUNC_ID,
		FUNC_NAME,MENU_ID,FUNC_NAME,FUNC_CODE,FUNC_EXT FROM sys_function WHERE
		MENU_ID LIKE CONCAT(#{id},'__')
	</select>
	<select id="getAll" resultMap="menuResultMap">
		SELECT FUNC_ID,
		FUNC_NAME,MENU_ID,FUNC_NAME,FUNC_CODE,FUNC_EXT FROM sys_function
	</select>
</mapper>