.M-box3{margin-top:10px;float:right;}
.M-box3 a{margin: 0 3px;width: 29px;height: 29px;line-height: 29px;font-size: 12px;text-decoration: none;}
.M-box3 .active{margin: 0px 3px;width: 29px;height: 29px;line-height: 29px;background: #2b7fe0;font-size: 12px;border: 1px solid #2b7fe0;}
.jump-ipt{margin: 0 3px;width: 29px;height: 29px;line-height: 29px;font-size: 12px;}
.M-box3 a:hover{background: #2b7fe0;}
@charset "UTF-8";
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img {
    margin: 0;
    padding: 0; /*清除元素的内外边距*/
}

fieldset, img, input, button {
    border: none;
    padding: 0;
    margin: 0;
    outline-style: none; /*外面环绕线*/
}

ul, ol {
    list-style: none;
}

/*去掉原样式中的小黑点*/
input {
    padding-top: 0;
    padding-bottom: 0;
    font-family: "微软雅黑"; /*字体的自动识别*/
}

select, input {
    vertical-align: middle;
}

/*输入字居中显示*/
select, input, textarea {
    font-size: 12px;
    margin: 0;
}

/**/
textarea {
    resize: none; /*不可以随意拖动*/
}

/*防止拖动*/
img {
    border: 0;
    vertical-align: middle; /*  去掉图片底部默认的3像素空白缝隙*/
}

table {
	width:100%;
    border-collapse: collapse; /*合并外连线*/
}

body {
    font: 12px/150% "微软雅黑"; /*unitedCode的写法，宋体的写法  */
    color: #666; /*150%基于当前字体尺寸的百分比行间距*/
    background: #fff;
}

/* 显示的表格 */
 table {
    border-collapse: collapse;
    border-spacing: 0;
}

.th,
td {
    color: #404060;
    padding: 10px;
}

.th {
    background-color: #fff;
   font-size:15px;
    color: #2F5C8F;
    font-weight: bold; 
    border: 0px;
}

td {
    font: 14px "微软雅黑";
}

tr {
    border: 1px solid #c0c0c0;
}
tr:nth-child(even) {
    background-color: #fff;
}
tr:nth-child(odd) {
    background-color: #F6F7F9;
}

tr:hover {
    background-color: #D3E7FA;
} 

/* 查询的表格 */
/* .head li{
			width: 154px;
			text-align: left;
		}
		.center .login {
		    width: 550px;
		    height: 336px;
		    margin: 0px auto;
		}
		
		.center .login .header {
		    height: 31px;
		    line-height: 31px;
		    background-color: #3791DA;
		    color: #fff;
		    font-size: 14px;
		    text-align: center;
		    border-radius: 4px 4px 0px 0px;
		}
		.center .login .middle {
		    border-bottom:2px solid #DCDCDC;
		    border: 1px solid #DCDCDC;
		
		}
		.center .login .middle .color{
		    color:#2A588C;
		}
		.center .login .middle .le{
		    margin-left:25px;
		
		}
		.center .login .publisher {
		    height:50px;
		    line-height:50px;
		    border:2px dashed black;
		    margin-top:20px;
		}
		.center .login .publisher div{
		    float: left;
		}
		.center .login .subject {
		    height:26px;
		    line-height:26px;
		    border:2px dashed black;
		    margin-top:18px;
		}
		.center .login .subject div {
		    float: left;
		
		}
		.center .login .date {
		    height:24px;
		    line-height:24px;
		    border:2px dashed black;
		    margin-top:13px;
		}
		.center .login .date div {
		    float: left;
		}
		.center .login .ce1 {
		    height:25px;
		    line-height:25px;
		    border:2px dashed black;
		    margin-top:13px;
		}
		.center .login .ce1 div {
		    float: left;
		}
		.center .login .ce2 {
		    height:26px;
		    line-height:26px;
		    border:2px dashed black;
		    margin-top:17px;
		    margin-bottom:15px;
		}
		.center .login .ce2 div {
		    float: left;
		}
		.center .login .icons {
		    height:58px;
		    line-height:58px;
		    text-align: center;
		    border:1px solid #DCDCDC;
		
		}
		.center .logins .icon .img {
		    float: left;
		} */
