@CHARSET "UTF-8";
.clearfix:before, .clearfix:after {

    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1; /*IE/7/6*/

}
/*头部*/
.head .headli2_1 {
    width: 90px;
    display: inline-block;
    text-align: center;
    margin-top: 3%;
}

.headLog {
    height: 45px;
    line-height: 45px;
    /*margin-bottom: 1%;*/
    /*border: 1px solid red;*/
}
.headLog img {
    display: inline-block;
    float: left;
    width: 25px;
    height: 24px;
    margin-top: 1%;
    margin-left: 1%;
}
.headLog div {
    display: inline-block;
    float: left;
    margin-left: 1%;
    font-size: 22px;
    color: rgb(73, 77, 89);
    font-family: "微软雅黑";
}
/*内容部分*/
.span3 {
    display: inline-block;
    float: left;
    width: 320px;
    margin-left: 2.5%;
    margin-top: 4%;
}
.diary-main-panel {
    border: 1px solid #dbdbdb;
    background: #fff;
    margin-bottom: 15px;
}
.writeLog {
    text-align: center;
    font-size: 20px;
    height: 35px;
    line-height: 35px;
    color: #fff;
    background-color: #F6A036;
    margin-bottom: 5%;
    border-radius: 3px;
}
.diary-user-name {
    border-bottom: 1px solid #dbdbdb;
    margin: 0;
    background: #39C;
    color: #FFF;
    font-family: "微软雅黑";
    font-size: 16px;
    padding-left: 15px;
    height:40px;
    line-height:40px;
}
.diary-types-box {
    list-style: none;
    margin: 0;
    border-bottom: 1px solid #dbdbdb;
}
.diary-types-box li:first-child {
    border: none;
}
.diary-types-counter {
    margin-top: 10px;
    color: #39C;
    font-size: 20px;
    display: block;
    text-align: center;
}
.diary-types-title {
    margin: 8px;
    font-size: 13px;
    text-align: center;
}
.diary-types-box li {
    cursor: pointer;
    display: inline-block;
    float: left;
    border-left: 1px solid #dbdbdb;
    width:33%;
}
/*高级搜索*/
#diary-search-box {
    position: relative;
    border-top: 1px solid #dbdbdb;
    padding: 2px 10px;
}
#diary-search-box form {
    margin: 0;
}
.form-search .search_ {
    height: 25px;
    line-height:25px;
}
.icon-search {
    display: inline-block;
    float: left;
    width: 18px;
    height: 18px;
    background: url(../../img/workLog/search.png) no-repeat;
    margin-top: 1%;
    /*border: 1px solid red;*/

}
.icon-chevron-down {
    display: inline-block;
    float: right;
    width: 14px;
    height: 10px;
    background: url(../../img/workLog/downLarge.png) no-repeat;
    margin-top: 7px;
    cursor:pointer;
    /*border: 1px solid red;*/
}
.icon-chevron-up {
    display: inline-block;
    float: right;
    width: 14px;
    height: 10px;
    background: url(../../img/workLog/upLarge.png) no-repeat;
    margin-top: 7px;
    cursor:pointer;
    /*border: 1px solid red;*/
}

.diary-adv-search-box.on {
    display: inline-block;
    border-top: 1px solid #ddd;
    padding-top: 10px;
}
.control-group {
    display: inline-block;
    margin-bottom: 10px;
    /*border:1px solid red;*/
    height:60px;
    width:100%;
}
.pull-right {
    float: right;
    margin-top: 1%;
}
.pull-right img {
    width: 36px;
    height: 22px;
    margin-top: 2%;
    margin-right: 3px;
    cursor:pointer;
}

.controls input {
    width:30%;
    border-radius: 3px;
    margin-top: 1%;
}

.control-label  .date {
    font-size: 16px;
    font-weight: bold;
    height: 28px;
    line-height: 28px;
    /*border: 1px solid red;*/
    display: inline-block;
}
.button_ {
    color:#fff;
    font-size:16px;
    width:60px;
    height:30px;
    line-height:30px;
    background-color: #00a2d4;
    border-radius: 3px;
    margin-top:5%;
}
.button_query {
    margin-right:8%;
}
select {
    width: 155px;
    /* height: 25px; */
    height: 30px;
    line-height: 30px;
    border: 1px solid #c0c0c0;
    border-radius: 3px;
    margin-top: 1%;
}
/*内容部分右侧*/
.content_right {
    display: inline-block;
    float: left;
    /*border:1px solid red;*/
    width:57%;
    margin-left:2.5%;
}
.content_right  .button_news {
    display: block;
    float: right;
    margin-top: 1%;
    margin-bottom: 1%;
}
.content_right  .button_news .btn {
    display: inline-block;
    float: left;
    padding: 10px 18px;
    color: #333;
    font-weight: bold;
    text-align: center;
    /*border-radius: 3px;*/
    /*border:1px solid red;*/
    background: url(../../img/workLog/btn__normal.png) no-repeat;
    background-size:100%;

}
.content_right  .button_news  .active {
    background: url(../../img/workLog/btn_selected.png) no-repeat;
    background-size:100%;
    color:#fff;
}
.content_right  .details {
    padding:20px 30px;
    border: 1px solid #ddd;
    height: 800px;
    margin-top: 8%;
}

.details_modular {
    height:200px;
    border-bottom:1px solid #ddd;
}
.modular_user {
    display: inline-block;
    float: left;
    /* border: 1px solid blue; */
    width: 80px;
    height: 80px;
    margin-top: 8%;
    border-radius: 50%;
    box-shadow: 0 1px 2px #b0b3b6;
    background: url(../../img/workLog/portrait3.jpg) no-repeat;
    background-size:100% 100%;
}
.modular_info {
    display: inline-block;
    float: right;
    width: 80%;
    height: 100%;
    /*border: 1px solid blue;*/
    position: relative;
}
.modular_info h3{
    color:#2B7FE0;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    font-weight: bold;
    font-family: "微软雅黑";
}
.modular_info p {
    hieght:30px;
    line-height:30px;
    font-size: 13px;
    color: #000;
    font-family: "微软雅黑";
}
.modular_title {
    hieght:30px;
    line-height:30px;
}
.modular_info .modular_name {
    display: inline-block;
    float: left;
    font-size: 13px;
    color: #b4b4b4;
}

.modular_info .modular_name li{
    display: inline-block;
    float: left;
    padding-right: 10px;
}
.modular_info .modular_name li a{
    color:#000;
    text-decoration: none;
}
.modular_info .modular_name li a:hover{
    text-decoration: underline;
}
.modular_info .modular_time {
    display: inline-block;
    float: right;
}
.modular_footer {
    display: inline-block;
    float: right;
    position: absolute;
    right: 13px;
    bottom: 18px;
}
.modular_footer li {
    display: inline-block;
    float: left;
    padding-right: 10px;
}
.modular_footer li a{
    color: #b4b4b4;
    text-decoration: none;
}
.modular_footer li a:hover{
    color: #1687cb;
    text-decoration: underline;

}



