<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xoa.dao.users.UsersMapper">
	<resultMap id="UserResultMap" type="com.xoa.model.users.Users">
		<id column="UID" property="uid" javaType="int" />
		<result column="USER_ID" property="userId" javaType="string" />
		<result column="USER_NAME" property="userName" javaType="string" />
		<result column="USER_NAME_INDEX" property="userNameIndex"
			javaType="string" />
		<result column="BYNAME" property="byname" javaType="string" />
		<result column="USEING_KEY" property="useingKey" javaType="string" />
		<result column="USING_FINGER" property="usingFinger" javaType="string" />
		<result column="PASSWORD" property="password" javaType="string" />
		<result column="KEY_SN" property="keySn" javaType="string" />
		<result column="SECURE_KEY_SN" property="secureKeySn" javaType="string" />
		<result column="USER_PRIV" property="userPriv" javaType="int" />
		<result column="USER_PRIV_NO" property="userPrivNo" javaType="short" />
		<result column="USER_PRIV_NAME" property="userPrivName"
			javaType="string" />
		<result column="POST_PRIV" property="postPriv" javaType="string" />
		<result column="POST_DEPT" property="postDept" javaType="string" />
		<result column="DEPT_ID" property="deptId" javaType="int" />
		<result column="DEPT_ID_OTHER" property="deptIdOther" javaType="string" />
		<result column="SEX" property="sex" javaType="string" />
		<result column="BIRTHDAY" property="birthday" javaType="java.sql.Date" />
		<result column="IS_LUNAR" property="isLunar" javaType="string" />
		<result column="TEL_NO_DEPT" property="telNoDept" javaType="string" />
		<result column="FAX_NO_DEPT" property="faxNoDept" javaType="string" />
		<result column="ADD_HOME" property="addHome" javaType="string" />
		<result column="POST_NO_HOME" property="postNoHome" javaType="string" />
		<result column="TEL_NO_HOME" property="telNoHome" javaType="string" />
		<result column="MOBIL_NO" property="mobilNo" javaType="string" />
		<result column="BP_NO" property="bpNo" javaType="string" />
		<result column="EMAIL" property="email" javaType="string" />
		<result column="OICQ_NO" property="oicqNo" javaType="string" />
		<result column="ICQ_NO" property="icqNo" javaType="string" />
		<result column="MSN" property="msn" javaType="string" />
		<result column="AVATAR" property="avatar" javaType="string" />
		<result column="CALL_SOUND" property="callSound" javaType="string" />
		<result column="LAST_VISIT_TIME" property="lastVisitTime"
			javaType="java.sql.Timestamp" />
		<result column="SMS_ON" property="smsOn" javaType="string" />
		<result column="MENU_TYPE" property="menuType" javaType="string" />
		<result column="LAST_PASS_TIME" property="lastPassTime"
			javaType="java.sql.Timestamp" />
		<result column="THEME" property="theme" javaType="byte" />
		<result column="PORTAL" property="portal" javaType="string" />
		<result column="PANEL" property="panel" javaType="string" />
		<result column="ONLINE" property="online" javaType="int" />
		<result column="ON_STATUS" property="onStatus" javaType="string" />
		<result column="ATTEND_STATUS" property="attendStatus"
			javaType="string" />
		<result column="MOBIL_NO_HIDDEN" property="mobilNoHidden"
			javaType="string" />
		<result column="MYTABLE_LEFT" property="mytableLeft" javaType="string" />
		<result column="MYTABLE_RIGHT" property="mytableRight"
			javaType="string" />
		<result column="USER_PRIV_OTHER" property="userPrivOther"
			javaType="string" />
		<result column="USER_NO" property="userNo" javaType="short" />
		<result column="NOT_LOGIN" property="notLogin" javaType="byte" />
		<result column="NOT_VIEW_USER" property="notViewUser" javaType="string" />
		<result column="NOT_VIEW_TABLE" property="notViewTable"
			javaType="string" />
		<result column="NOT_SEARCH" property="notSearch" javaType="string" />
		<result column="BKGROUND" property="bkground" javaType="string" />
		<result column="BIND_IP" property="bindIp" javaType="string" />
		<result column="LAST_VISIT_IP" property="lastVisitIp" javaType="string" />
		<result column="MENU_IMAGE" property="menuImage" javaType="string" />
		<result column="WEATHER_CITY" property="weatherCity" javaType="string" />
		<result column="SHOW_RSS" property="showRss" javaType="string" />
		<result column="MENU_EXPAND" property="menuExpand" javaType="string" />
		<result column="MY_STATUS" property="myStatus" javaType="string" />
		<result column="LIMIT_LOGIN" property="limitLogin" javaType="string" />
		<result column="PHOTO" property="photo" javaType="string" />
		<result column="IM_RANGE" property="imRange" javaType="byte" />
		<result column="LEAVE_TIME" property="leaveTime" javaType="java.sql.Timestamp" />
		<result column="SECRET_LEVEL" property="secretLevel" javaType="int" />
		<result column="NOT_MOBILE_LOGIN" property="notMobileLogin"
			javaType="string" />
		<result column="MANAGE_MODULE_TYPE" property="manageModuleType"
			javaType="string" />
		<result column="USER_PRIV_TYPE" property="userPrivType"
			javaType="java.sql.Timestamp" />
		<result column="USER_MANAGE_ORGS" property="userManageOrgs"
			javaType="string" />
		<result column="SHORTCUT" property="shortcut" javaType="string" />
		<result column="MY_RSS" property="myRss" javaType="string" />
		<result column="REMARK" property="remark" javaType="string" />
		<result column="USER_PARA" property="userPara" javaType="string" />
		<association property="dep"
			javaType="com.xoa.model.department.Department">
			<id column="DEPT_ID" property="deptId" />
			<result column="DEPT_NAME" property="deptName" />
			<result column="TEL_NO" property="telNo" jdbcType="VARCHAR"
				javaType="string" />
			<result column="FAX_NO" property="faxNo" jdbcType="VARCHAR"
				javaType="string" />
			<result column="DEPT_ADDRESS" property="deptAddress" jdbcType="VARCHAR"
				javaType="string" />
			<result column="DEPT_NO" property="deptNo" jdbcType="VARCHAR"
				javaType="string" />
			<result column="DEPT_PARENT" property="deptParent" jdbcType="INTEGER"
				javaType="int" />
			<result column="IS_ORG" property="isOrg" jdbcType="CHAR"
				javaType="string" />
			<result column="ORG_ADMIN" property="orgAdmin" jdbcType="VARCHAR"
				javaType="string" />
			<result column="DEPT_EMAIL_AUDITS_IDS" property="deptEmailAuditsIds"
				jdbcType="VARCHAR" javaType="string" />
			<result column="WEIXIN_DEPT_ID" property="weixinDeptId"
				jdbcType="INTEGER" javaType="int" />
			<result column="DINGDING_DEPT_ID" property="dingdingDeptId"
				jdbcType="INTEGER" javaType="int" />
			<result column="G_DEPT" property="gDept" jdbcType="TINYINT"
				javaType="byte" />
			<result column="MANAGER" property="manager" jdbcType="VARCHAR"
				javaType="string" />
			<result column="ASSISTANT_ID" property="assistantId" jdbcType="LONGVARCHAR"
				javaType="string" />
			<result column="LEADER1" property="leader1" jdbcType="LONGVARCHAR"
				javaType="string" />
			<result column="LEADER2" property="leader2" jdbcType="LONGVARCHAR"
				javaType="string" />
			<result column="DEPT_FUNC" property="deptFunc" jdbcType="LONGVARCHAR"
				javaType="string" />
		</association>
		<association property="role" javaType="com.xoa.model.role.Role">
			<id column="USER_PRIV" property="userPriv" jdbcType="INTEGER"
				javaType="int" />
			<result column="PRIV_NAME" property="privName" jdbcType="VARCHAR"
				javaType="string" />
			<result column="PRIV_NO" property="privNo" jdbcType="SMALLINT"
				javaType="string" />
			<result column="FUNC_ID_STR" property="funcIdStr" jdbcType="VARCHAR"
				javaType="string" />
			<result column="PRIV_DEPT_ID" property="privDeptId" jdbcType="INTEGER"
				javaType="string" />
			<result column="PRIV_TYPE" property="privType" jdbcType="TINYINT"
				javaType="java.sql.Timestamp" />
			<result column="IS_GLOBAL" property="isGlobal" jdbcType="TINYINT"
				javaType="java.sql.Timestamp" />
		</association>
	</resultMap>
	<select id="getByDeptId" parameterType="Map"
		resultType="com.xoa.model.users.Users">
		select u.USER_NAME as userName,u.USER_PRIV_NAME as userPrivName
		 from user u where DEPT_ID= #{deptId}
	</select>
	<select id="getBySearch" parameterType="Map"
		resultType="com.xoa.model.users.Users">
		select u.USER_NAME as
		userName,u.USER_PRIV_NAME as userPrivName,
		 d.DEPT_NAME as deptName from user u
		,department d  where  u.DEPT_ID= d.DEPT_ID 
        <if test="userName != null and userName !=''">
			and ( u.USER_NAME = #{userName}
		</if> 
       <if test="userPrivName != null and userPrivName !=''">
			or u.USER_PRIV_NAME = #{userPrivName}
		</if> 
        <if test="deptName != null and deptName !=''">
			or d.DEPT_NAME = #{deptName} )
		</if> 
	</select>
	<select id="getUserAndDept" parameterType="java.lang.Integer"
		resultType="com.xoa.model.users.Users">
		select u.UID,u.USER_ID as userId,u.USER_NAME as
		userName,u.BYNAME,u.USER_PRIV,u.USER_PRIV_NAME as userPrivName,
		u.DEPT_ID,u.SEX,u.AVATAR, d.DEPT_NAME as deptName from user u
		,department d
		where u.DEPT_ID= d.DEPT_ID
	</select>
	<select id="findUserByName" resultMap="UserResultMap">
		select
		u.UID,u.USER_ID,u.USER_NAME,u.BYNAME,u.`PASSWORD`,u.DEPT_ID,u.DEPT_ID_OTHER,u.USER_PRIV,u.USER_PRIV_OTHER
		from user u WHERE
		BYNAME= #{byname}
	</select>
	<select id="getUsernameById" resultMap="UserResultMap">
		select BYNAME FROM user
		WHERE UID= #{uid}
	</select>
	<select id="getUsernameByUserId" resultType="java.lang.String">
		select USER_NAME
		FROM user
		WHERE UID= #{uid}
	</select>
	<select id="getDatagrid" resultMap="UserResultMap">
		select * from user
	</select>
	<select id="getAlluser" resultType="java.util.Map"
		parameterType="com.xoa.model.users.Users">
		select
		UID,USER_ID,USER_NAME,BYNAME,USER_PRIV,USER_PRIV_NAME,DEPT_ID,SEX,AVATAR
		from user
		where 1=1
		<if test="userId != null and userId !=''">
			and USER_ID = #{userId},
		</if>
		<if test="userName != null and userName !=''">
			and USER_NAME = #{userName},
		</if>
		<if test="userNameIndex != null and userNameIndex !=''">
			and USER_NAME_INDEX = #{userNameIndex},
		</if>
		<if test="byname != null and byname !=''">
			and BYNAME = #{byname},
		</if>
		<if test="useingKey != null and useingKey !=''">
			and USEING_KEY = #{useingKey},
		</if>
		<if test="usingFinger != null and usingFinger !=''">
			and USING_FINGER = #{usingFinger},
		</if>
		<if test="password != null and password !=''">
			and PASSWORD = #{password},
		</if>
		<if test="keySn != null and keySn !=''">
			and KEY_SN = #{keySn},
		</if>
		<if test="secureKeySn != null and secureKeySn !=''">
			and SECURE_KEY_SN = #{secureKeySn},
		</if>
		<if test="userPriv != null and userPriv !='' ">
			and USER_PRIV = #{userPriv},
		</if>
		<if test="userPrivNo != null and userPrivNo !=''">
			and USER_PRIV_NO = #{userPrivNo},
		</if>
		<if test="userPrivName != null and userPrivName !=''">
			and USER_PRIV_NAME = #{userPrivName},
		</if>
		<if test="postPriv != null and postPriv !=''">
			and POST_PRIV = #{postPriv},
		</if>
		<if test="postDept != null and postDept !=''">
			and POST_DEPT = #{postDept},
		</if>
		<if test="deptId != null and deptId !=''">
			and DEPT_ID = #{deptId},
		</if>
		<if test="deptIdOther != null and deptIdOther !=''">
			and DEPT_ID_OTHER = #{deptIdOther},
		</if>
		<if test="sex != null and sex !=''">
			and SEX = #{sex},
		</if>
		<if test="birthday != null and birthday !=''">
			and BIRTHDAY = #{birthday},
		</if>
		<if test="isLunar != null and isLunar !=''">
			and IS_LUNAR = #{isLunar},
		</if>
		<if test="telNoDept != null and telNoDept !=''">
			and TEL_NO_DEPT = #{telNoDept},
		</if>
		<if test="faxNoDept != null and faxNoDept !=''">
			and FAX_NO_DEPT = #{faxNoDept},
		</if>
		<if test="addHome != null and addHome !=''">
			and ADD_HOME = #{addHome},
		</if>
		<if test="postNoHome != null and postNoHome !=''">
			and POST_NO_HOME = #{postNoHome},
		</if>
		<if test="telNoHome != null and telNoHome !=''">
			and TEL_NO_HOME = #{telNoHome},
		</if>
		<if test="mobilNo != null and mobilNo !=''">
			and MOBIL_NO = #{mobilNo},
		</if>
		<if test="bpNo != null and bpNo !=''">
			and BP_NO = #{bpNo},
		</if>
		<if test="email != null and email !=''">
			and EMAIL = #{email},
		</if>
		<if test="oicqNo != null and oicqNo !=''">
			and OICQ_NO = #{oicqNo},
		</if>
		<if test="icqNo != null and icqNo !=''">
			and ICQ_NO = #{icqNo},
		</if>
		<if test="msn != null and msn !=''">
			and MSN = #{msn},
		</if>
		<if test="avatar != null and avatar !=''">
			and AVATAR = #{avatar},
		</if>
		<if test="callSound != null and callSound !=''">
			and CALL_SOUND = #{callSound},
		</if>
		<if test="lastVisitTime != null and lastVisitTime !=''">
			and LAST_VISIT_TIME = #{lastVisitTime},
		</if>
		<if test="smsOn != null and smsOn !=''">
			and SMS_ON = #{smsOn},
		</if>
		<if test="menuType != null and menuType !=''">
			and MENU_TYPE = #{menuType},
		</if>
		<if test="lastPassTime != null and lastPassTime !=''">
			and LAST_PASS_TIME = #{lastPassTime},
		</if>
		<if test="theme != null and theme !=''">
			and THEME = #{theme},
		</if>
		<if test="portal != null and portal !=''">
			and PORTAL = #{portal},
		</if>
		<if test="panel != null and panel !=''">
			and PANEL = #{panel},
		</if>
		<if test="online != null and online !=''">
			and ONLINE = #{online},
		</if>
		<if test="onStatus != null and onStatus !=''">
			and ON_STATUS = #{onStatus},
		</if>
		<if test="attendStatus != null and attendStatus !=''">
			and ATTEND_STATUS = #{attendStatus},
		</if>
		<if test="mobilNoHidden != null and mobilNoHidden !=''">
			and MOBIL_NO_HIDDEN = #{mobilNoHidden},
		</if>
		<if test="mytableLeft != null and mytableLeft !=''">
			and MYTABLE_LEFT = #{mytableLeft},
		</if>
		<if test="mytableRight != null and mytableRight !=''">
			and MYTABLE_RIGHT = #{mytableRight},
		</if>
		<if test="userPrivOther != null and userPrivOther !=''">
			and USER_PRIV_OTHER = #{userPrivOther},
		</if>
		<if test="userNo != null and userNo !=''">
			and USER_NO = #{userNo},
		</if>
		<if test="notLogin != null and notLogin !=''">
			and NOT_LOGIN = #{notLogin},
		</if>
		<if test="notViewUser != null and notViewUser !=''">
			and NOT_VIEW_USER = #{notViewUser},
		</if>
		<if test="notViewTable != null and notViewTable !=''">
			and NOT_VIEW_TABLE = #{notViewTable},
		</if>
		<if test="notSearch != null and notSearch !=''">
			and NOT_SEARCH = #{notSearch},
		</if>
		<if test="bkground != null and bkground !=''">
			and BKGROUND = #{bkground},
		</if>
		<if test="bindIp != null and bindIp !=''">
			and BIND_IP = #{bindIp},
		</if>
		<if test="lastVisitIp != null and lastVisitIp !=''">
			and LAST_VISIT_IP = #{lastVisitIp},
		</if>
		<if test="menuImage != null and menuImage !=''">
			and MENU_IMAGE = #{menuImage},
		</if>
		<if test="weatherCity != null and weatherCity !=''">
			and WEATHER_CITY = #{weatherCity},
		</if>
		<if test="showRss != null and showRss !=''">
			and SHOW_RSS = #{showRss},
		</if>
		<if test="menuExpand != null and menuExpand !=''">
			and MENU_EXPAND = #{menuExpand},
		</if>
		<if test="myStatus != null and myStatus !=''">
			and MY_STATUS = #{myStatus},
		</if>
		<!-- <if test="limitLogin != nulland limitLogin !=''"> and LIMIT_LOGIN 
			= #{limitLogin}, </if> -->
		<if test="photo != null and photo !=''">
			and PHOTO = #{photo},
		</if>
		<if test="imRange != null and imRange !=''">
			and IM_RANGE = #{imRange},
		</if>
		<if test="leaveTime != null and leaveTime !=''">
			and LEAVE_TIME = #{leaveTime},
		</if>
		<if test="secretLevel != null and secretLevel !=''">
			and SECRET_LEVEL = #{secretLevel},
		</if>
		<if test="notMobileLogin != null and notMobileLogin !=''">
			and NOT_MOBILE_LOGIN = #{notMobileLogin},
		</if>
		<if test="manageModuleType != null and manageModuleType !=''">
			and MANAGE_MODULE_TYPE = #{manageModuleType},
		</if>
		<if test="userPrivType != null and userPrivType !=''">
			and USER_PRIV_TYPE = #{userPrivType},
		</if>
		<if test="userManageOrgs != null and userManageOrgs !=''">
			and USER_MANAGE_ORGS = #{userManageOrgs},
		</if>
		<if test="shortcut != null and shortcut !=''">
			and SHORTCUT = #{shortcut},
		</if>
		<if test="myRss != null and myRss !=''">
			and MY_RSS = #{myRss},
		</if>
		<if test="remark != null and remark !=''">
			and REMARK = #{remark},
		</if>
		<if test="userPara != null and userPara !=''">
			and USER_PARA = #{userPara}
		</if>
	</select>
	<insert id="addUser" useGeneratedKeys="true" keyProperty="uid">
		insert into user(
		<trim suffixOverrides=",">
			<if test="uid != null and uid !=''">
				UID,
			</if>
			<if test="userName != null and username !=''">
				USER_NAME,
			</if>
			<if test="userNameIndex != null and userNameIndex !=''">
				USER_NAME_INDEX,
			</if>
			<if test="byname != null and byname !=''">
				BYNAME,
			</if>
			<if test="useingKey != null and useingKey !=''">
				USEING_KEY,
			</if>
			<if test="usingFinger != null and usingFinger !=''">
				USING_FINGER,
			</if>
			<if test="password != null and password !=''">
				PASSWORD,
			</if>
			<if test="keySn != null and keySn !=''">
				KEY_SN,
			</if>
			<if test="secureKeySn != null and secureKeySn !=''">
				SECURE_KEY_SN,
			</if>
			<if test="userPriv != null and userPriv !=''">
				USER_PRIV,
			</if>
			<if test="userPrivNo != null and userPrivNo !=''">
				USER_PRIV_NO,
			</if>
			<if test="userPrivName != null and userPrivName !=''">
				USER_PRIV_NAME,
			</if>
			<if test="postPriv != null and postPriv !=''">
				POST_PRIV,
			</if>
			<if test="postDept != null and postDept !=''">
				POST_DEPT,
			</if>
			<if test="deptId != null and deptId !=''">
				DEPT_ID,
			</if>
			<if test="deptIdOther != null and deptIdOther !=''">
				DEPT_ID_OTHER,
			</if>
			<if test="sex != null and sex !=''">
				SEX,
			</if>
			<if test="birthday != null and birthday !=''">
				BIRTHDAY,
			</if>
			<if test="isLunar != null and isLunar !=''">
				IS_LUNAR,
			</if>
			<if test="telNoDept != null and telNoDept !=''">
				TEL_NO_DEPT,
			</if>
			<if test="faxNoDept != null and faxNoDept !=''">
				FAX_NO_DEPT,
			</if>
			<if test="addHome != null and addHome !=''">
				ADD_HOME,
			</if>
			<if test="postNoHome != null and postNoHome !=''">
				POST_NO_HOME,
			</if>
			<if test="telNoHome != null and telNoHome !=''">
				TEL_NO_HOME,
			</if>
			<if test="mobilNo != null and mobilNo !=''">
				MOBIL_NO,
			</if>
			<if test="bpNo != null and bpNo !=''">
				BP_NO,
			</if>
			<if test="email != null and email !=''">
				EMAIL,
			</if>
			<if test="oicqNo != null and oicqNo !=''">
				OICQ_NO,
			</if>
			<if test="icqNo != null and icqNo !=''">
				ICQ_NO,
			</if>
			<if test="msn != null and msn !=''">
				MSN,
			</if>
			<if test="avatar != null and avatar !=''">
				AVATAR,
			</if>
			<if test="callSound != null and callSound !=''">
				CALL_SOUND,
			</if>
			<if test="lastVisitTime != null and lastVisitTime !=''">
				LAST_VISIT_TIME,
			</if>
			<if test="smsOn != null and smsOn !=''">
				SMS_ON,
			</if>
			<if test="menuType != null and menuType !=''">
				MENU_TYPE,
			</if>
			<if test="lastPassTime != null and lastPassTime !=''">
				LAST_PASS_TIME,
			</if>
			<if test="theme != null and theme !=''">
				THEME,
			</if>
			<if test="portal != null and portal !=''">
				PORTAL,
			</if>
			<if test="panel != null and panel !=''">
				PANEL,
			</if>
			<if test="online != null and online !=''">
				ONLINE,
			</if>
			<if test="onStatus != null and onStatus !=''">
				ON_STATUS,
			</if>
			<if test="attendStatus != null and attendStatus !=''">
				ATTEND_STATUS,
			</if>
			<if test="mobilNoHidden != null and mobilNoHidden !=''">
				MOBIL_NO_HIDDEN,
			</if>
			<if test="mytableLeft != null and mytableLeft !=''">
				MYTABLE_LEFT,
			</if>
			<if test="mytableRight != null and mytableRight !=''">
				MYTABLE_RIGHT,
			</if>
			<if test="userPrivOther != null and userPrivOther !=''">
				USER_PRIV_OTHER,
			</if>
			<if test="userNo != null and userNameIndex !=''">
				USER_NO,
			</if>
			<if test="notLogin != null and notLogin !=''">
				NOT_LOGIN,
			</if>
			<if test="notViewUser != null and notViewUser !=''">
				NOT_VIEW_USER,
			</if>
			<if test="notViewTable != null and notViewTable !=''">
				NOT_VIEW_TABLE,
			</if>
			<if test="notSearch != null and userNameIndex !=''">
				NOT_SEARCH,
			</if>
			<if test="bkground != null and bkground !=''">
				BKGROUND,
			</if>
			<if test="bindIp != null and bindIp !=''">
				BIND_IP,
			</if>
			<if test="lastVisitIp != null and lastVisitIp !=''">
				LAST_VISIT_IP,
			</if>
			<if test="menuImage != null and menuImage !=''">
				MENU_IMAGE,
			</if>
			<if test="weatherCity != null and weatherCity !=''">
				WEATHER_CITY,
			</if>
			<if test="showRss != null and showRss !=''">
				SHOW_RSS,
			</if>
			<if test="menuExpand != null and menuExpand !=''">
				MENU_EXPAND,
			</if>
			<if test="myStatus != null and myStatus !=''">
				MY_STATUS,
			</if>
			<if test="limitLogin != null and limitLogin !=''">
				LIMIT_LOGIN,
			</if>
			<if test="photo != null and photo !=''">
				PHOTO,
			</if>
			<if test="imRange != null and imRange !=''">
				IM_RANGE,
			</if>
			<if test="leaveTime != null and leaveTime !=''">
				LEAVE_TIME,
			</if>
			<if test="secretLevel != null and secretLevel !=''">
				SECRET_LEVEL,
			</if>
			<if test="notMobileLogin != null and notMobileLogin !=''">
				NOT_MOBILE_LOGIN,
			</if>
			<if test="manageModuleType != null and manageModuleType !=''">
				MANAGE_MODULE_TYPE,
			</if>
			<if test="userPrivType != null and userPrivType !=''">
				USER_PRIV_TYPE,
			</if>
			<if test="userManageOrgs != null and userManageOrgs !=''">
				USER_MANAGE_ORGS,
			</if>
			<if test="shortcut != null and shortcut !=''">
				SHORTCUT,
			</if>
			<if test="myRss != null and myRss !=''">
				MY_RSS,
			</if>
			<if test="remark != null and remark !=''">
				REMARK,
			</if>
			<if test="userPara != null and userPara !=''">
				USER_PARA
			</if>
		</trim>
		)values(
		<trim suffixOverrides=",">
			<if test="userId != null and userId !=''">
				#{userId},
			</if>
			<if test="userName != null and userName !=''">
				#{userName},
			</if>
			<if test="userNameIndex != null and userNameIndex !=''">
				#{userNameIndex},
			</if>
			<if test="byname != null and byname !=''">
				#{byname},
			</if>
			<if test="useingKey != null and useingKey !=''">
				#{useingKey},
			</if>
			<if test="usingFinger != null and usingFinger !=''">
				#{usingFinger},
			</if>
			<if test="password != null and password !=''">
				#{password},
			</if>
			<if test="keySn != null and keySn !=''">
				#{keySn},
			</if>
			<if test="secureKeySn != null and secureKeySn !=''">
				#{secureKeySn},
			</if>
			<if test="userPriv != null and userPriv !=''">
				#{userPriv},
			</if>
			<if test="userPrivNo != null and userPrivNo !=''">
				#{userPrivNo},
			</if>
			<if test="userPrivName != null and userPrivName !=''">
				#{userPrivName},
			</if>
			<if test="postPriv != null and postPriv !=''">
				#{postPriv},
			</if>
			<if test="postDept != null and postDept !=''">
				#{postDept},
			</if>
			<if test="deptId != null and deptId !=''">
				#{deptId},
			</if>
			<if test="deptIdOther != null and deptIdOther !=''">
				#{deptIdOther},
			</if>
			<if test="sex != null and sex !=''">
				#{sex},
			</if>
			<if test="birthday != null and birthday !=''">
				#{birthday},
			</if>
			<if test="isLunar != null and isLunar !=''">
				#{isLunar},
			</if>
			<if test="telNoDept != null and telNoDept !=''">
				#{telNoDept},
			</if>
			<if test="faxNoDept != null and faxNoDept !=''">
				#{faxNoDept},
			</if>
			<if test="addHome != null and addHome !=''">
				#{addHome},
			</if>
			<if test="postNoHome != null and postNoHome !=''">
				#{postNoHome},
			</if>
			<if test="telNoHome != null and telNoHome !=''">
				#{telNoHome},
			</if>
			<if test="mobilNo != null and mobilNo !=''">
				#{mobilNo},
			</if>
			<if test="bpNo != null and bpNo !=''">
				#{bpNo},
			</if>
			<if test="email != null and email !=''">
				#{email},
			</if>
			<if test="oicqNo != null and oicqNo !=''">
				#{oicqNo},
			</if>
			<if test="icqNo != null and icqNo !=''">
				#{icqNo},
			</if>
			<if test="msn != null and msn !=''">
				#{msn},
			</if>
			<if test="avatar != null and avatar !=''">
				#{avatar},
			</if>
			<if test="callSound != null and callSound !=''">
				#{callSound},
			</if>
			<if test="lastVisitTime != null and lastVisitTime !=''">
				#{lastVisitTime},
			</if>
			<if test="smsOn != null and smsOn !=''">
				#{smsOn},
			</if>
			<if test="menuType != null and menuType !=''">
				#{menuType},
			</if>
			<if test="lastPassTime != null and lastPassTime !=''">
				#{lastPassTime},
			</if>
			<if test="theme != null and theme !=''">
				#{theme},
			</if>
			<if test="portal != null and portal !=''">
				#{portal},
			</if>
			<if test="panel != null and panel !=''">
				#{panel},
			</if>
			<if test="online != null and online !=''">
				#{online},
			</if>
			<if test="onStatus != null and onStatus !=''">
				#{onStatus},
			</if>
			<if test="attendStatus != null and attendStatus !=''">
				#{attendStatus},
			</if>
			<if test="mobilNoHidden != null and mobilNoHidden !=''">
				#{mobilNoHidden},
			</if>
			<if test="mytableLeft != null and mytableLeft !=''">
				#{mytableLeft},
			</if>
			<if test="mytableRight != null and mytableRight !=''">
				#{mytableRight},
			</if>
			<if test="userPrivOther != null and userPrivOther !=''">
				#{userPrivOther},
			</if>
			<if test="userNo != null and userNo !=''">
				#{userNo},
			</if>
			<if test="notLogin != null and notLogin !=''">
				#{notLogin},
			</if>
			<if test="notViewUser != null and notViewUser !=''">
				#{notViewUser},
			</if>
			<if test="notViewTable != null and notViewTable !=''">
				#{notViewTable},
			</if>
			<if test="notSearch != null and notSearch !=''">
				#{notSearch},
			</if>
			<if test="bkground != null and bkground !=''">
				#{bkground},
			</if>
			<if test="bindIp != null and bindIp !=''">
				#{bindIp},
			</if>
			<if test="lastVisitIp != null and lastVisitIp !=''">
				#{lastVisitIp},
			</if>
			<if test="menuImage != null and menuImage !=''">
				#{menuImage},
			</if>
			<if test="weatherCity != null and weatherCity !=''">
				#{weatherCity},
			</if>
			<if test="showRss != null and showRss !=''">
				#{showRss},
			</if>
			<if test="menuExpand != null and menuExpand !=''">
				#{menuExpand},
			</if>
			<if test="myStatus != null and myStatus !=''">
				#{myStatus},
			</if>
			<if test="limitLogin != null and limitLogin !=''">
				#{limitLogin},
			</if>
			<if test="photo != null and photo !=''">
				#{photo},
			</if>
			<if test="imRange != null and imRange !=''">
				#{imRange},
			</if>
			<if test="leaveTime != null and leaveTime !=''">
				#{leaveTime},
			</if>
			<if test="secretLevel != null and secretLevel !=''">
				#{secretLevel},
			</if>
			<if test="notMobileLogin != null and notMobileLogin !=''">
				#{notMobileLogin},
			</if>
			<if test="manageModuleType != null and manageModuleType !=''">
				#{manageModuleType},
			</if>
			<if test="userPrivType != null and userPrivType !=''">
				#{userPrivType},
			</if>
			<if test="userManageOrgs != null and userManageOrgs !=''">
				#{userManageOrgs},
			</if>
			<if test="shortcut != null and shortcut !=''">
				#{shortcut},
			</if>
			<if test="myRss != null and myRss !=''">
				#{myRss},
			</if>
			<if test="remark != null and remark !=''">
				#{remark},
			</if>
			<if test="userPara != null and userPara !=''">
				#{userPara}
			</if>
		</trim>
		)
	</insert>
	<update id="editUser">
		update user
		<set>
			<if test="userId != null and userId !=''">
				USER_ID = #{userId},
			</if>
			<if test="userName != null and userName !=''">
				USER_NAME = #{userName},
			</if>
			<if test="userNameIndex != null and userNameIndex !=''">
				USER_NAME_INDEX = #{userNameIndex},
			</if>
			<if test="byname != null and byname !=''">
				BYNAME = #{byname},
			</if>
			<if test="useingKey != null and useingKey !=''">
				USEING_KEY = #{useingKey},
			</if>
			<if test="usingFinger != null and usingFinger !=''">
				USING_FINGER = #{usingFinger},
			</if>
			<if test="password != null and password !=''">
				PASSWORD = #{password},
			</if>
			<if test="keySn != null and keySn !=''">
				KEY_SN = #{keySn},
			</if>
			<if test="secureKeySn != null and secureKeySn !=''">
				SECURE_KEY_SN = #{secureKeySn},
			</if>
			<if test="userPriv != null and userPriv !='' ">
				USER_PRIV = #{userPriv},
			</if>
			<if test="userPrivNo != null and userPrivNo !=''">
				USER_PRIV_NO = #{userPrivNo},
			</if>
			<if test="userPrivName != null and userPrivName !=''">
				USER_PRIV_NAME = #{userPrivName},
			</if>
			<if test="postPriv != null and postPriv !=''">
				POST_PRIV = #{postPriv},
			</if>
			<if test="postDept != null and postDept !=''">
				POST_DEPT = #{postDept},
			</if>
			<if test="deptId != null and deptId !=''">
				DEPT_ID = #{deptId},
			</if>
			<if test="deptIdOther != null and deptIdOther !=''">
				DEPT_ID_OTHER = #{deptIdOther},
			</if>
			<if test="sex != null and sex !=''">
				SEX = #{sex},
			</if>
			<if test="birthday != null and birthday !=''">
				BIRTHDAY = #{birthday},
			</if>
			<if test="isLunar != null and isLunar !=''">
				IS_LUNAR = #{isLunar},
			</if>
			<if test="telNoDept != null and telNoDept !=''">
				TEL_NO_DEPT = #{telNoDept},
			</if>
			<if test="faxNoDept != null and faxNoDept !=''">
				FAX_NO_DEPT = #{faxNoDept},
			</if>
			<if test="addHome != null and addHome !=''">
				ADD_HOME = #{addHome},
			</if>
			<if test="postNoHome != null and postNoHome !=''">
				POST_NO_HOME = #{postNoHome},
			</if>
			<if test="telNoHome != null and telNoHome !=''">
				TEL_NO_HOME = #{telNoHome},
			</if>
			<if test="mobilNo != null and mobilNo !=''">
				MOBIL_NO = #{mobilNo},
			</if>
			<if test="bpNo != null and bpNo !=''">
				BP_NO = #{bpNo},
			</if>
			<if test="email != null and email !=''">
				EMAIL = #{email},
			</if>
			<if test="oicqNo != null and oicqNo !=''">
				OICQ_NO = #{oicqNo},
			</if>
			<if test="icqNo != null and icqNo !=''">
				ICQ_NO = #{icqNo},
			</if>
			<if test="msn != null and msn !=''">
				MSN = #{msn},
			</if>
			<if test="avatar != null and avatar !=''">
				AVATAR = #{avatar},
			</if>
			<if test="callSound != null and callSound !=''">
				CALL_SOUND = #{callSound},
			</if>
			<if test="lastVisitTime != null and lastVisitTime !=''">
				LAST_VISIT_TIME = #{lastVisitTime},
			</if>
			<if test="smsOn != null and smsOn !=''">
				SMS_ON = #{smsOn},
			</if>
			<if test="menuType != null and menuType !=''">
				MENU_TYPE = #{menuType},
			</if>
			<if test="lastPassTime != null and lastPassTime !=''">
				LAST_PASS_TIME = #{lastPassTime},
			</if>
			<if test="theme != null and theme !=''">
				THEME = #{theme},
			</if>
			<if test="portal != null and portal !=''">
				PORTAL = #{portal},
			</if>
			<if test="panel != null and panel !=''">
				PANEL = #{panel},
			</if>
			<if test="online != null and online !=''">
				ONLINE = #{online},
			</if>
			<if test="onStatus != null and onStatus !=''">
				ON_STATUS = #{onStatus},
			</if>
			<if test="attendStatus != null and attendStatus !=''">
				ATTEND_STATUS = #{attendStatus},
			</if>
			<if test="mobilNoHidden != null and mobilNoHidden !=''">
				MOBIL_NO_HIDDEN = #{mobilNoHidden},
			</if>
			<if test="mytableLeft != null and mytableLeft !=''">
				MYTABLE_LEFT = #{mytableLeft},
			</if>
			<if test="mytableRight != null and mytableRight !=''">
				MYTABLE_RIGHT = #{mytableRight},
			</if>
			<if test="userPrivOther != null and userPrivOther !=''">
				USER_PRIV_OTHER = #{userPrivOther},
			</if>
			<if test="userNo != null and userNo !=''">
				USER_NO = #{userNo},
			</if>
			<if test="notLogin != null and notLogin !=''">
				NOT_LOGIN = #{notLogin},
			</if>
			<if test="notViewUser != null and notViewUser !=''">
				NOT_VIEW_USER = #{notViewUser},
			</if>
			<if test="notViewTable != null and notViewTable !=''">
				NOT_VIEW_TABLE = #{notViewTable},
			</if>
			<if test="notSearch != null and notSearch !=''">
				NOT_SEARCH = #{notSearch},
			</if>
			<if test="bkground != null and bkground !=''">
				BKGROUND = #{bkground},
			</if>
			<if test="bindIp != null and bindIp !=''">
				BIND_IP = #{bindIp},
			</if>
			<if test="lastVisitIp != null and lastVisitIp !=''">
				LAST_VISIT_IP = #{lastVisitIp},
			</if>
			<if test="menuImage != null and menuImage !=''">
				MENU_IMAGE = #{menuImage},
			</if>
			<if test="weatherCity != null and weatherCity !=''">
				WEATHER_CITY = #{weatherCity},
			</if>
			<if test="showRss != null and showRss !=''">
				SHOW_RSS = #{showRss},
			</if>
			<if test="menuExpand != null and menuExpand !=''">
				MENU_EXPAND = #{menuExpand},
			</if>
			<if test="myStatus != null and myStatus !=''">
				MY_STATUS = #{myStatus},
			</if>
			<if test="limitLogin != nulland limitLogin !=''">
				LIMIT_LOGIN = #{limitLogin},
			</if>
			<if test="photo != null and photo !=''">
				PHOTO = #{photo},
			</if>
			<if test="imRange != null and imRange !=''">
				IM_RANGE = #{imRange},
			</if>
			<if test="leaveTime != null and leaveTime !=''">
				LEAVE_TIME = #{leaveTime},
			</if>
			<if test="secretLevel != null and secretLevel !=''">
				SECRET_LEVEL = #{secretLevel},
			</if>
			<if test="notMobileLogin != null and notMobileLogin !=''">
				NOT_MOBILE_LOGIN = #{notMobileLogin},
			</if>
			<if test="manageModuleType != null and manageModuleType !=''">
				MANAGE_MODULE_TYPE = #{manageModuleType},
			</if>
			<if test="userPrivType != null and userPrivType !=''">
				USER_PRIV_TYPE = #{userPrivType},
			</if>
			<if test="userManageOrgs != null and userManageOrgs !=''">
				USER_MANAGE_ORGS = #{userManageOrgs},
			</if>
			<if test="shortcut != null and shortcut !=''">
				SHORTCUT = #{shortcut},
			</if>
			<if test="myRss != null and myRss !=''">
				MY_RSS = #{myRss},
			</if>
			<if test="remark != null and remark !=''">
				REMARK = #{remark},
			</if>
			<if test="userPara != null and userPara !=''">
				USER_PARA = #{userPara}
			</if>
		</set>
		where UID = #{uid}
	</update>
	<delete id="deleteUser">
		DELETE FROM user WHERE UID = #{uid}
	</delete>





</mapper>


