<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xoa.dao.workflow.FlowFormTypeMapper" >
  <resultMap id="BaseResultMap" type="com.xoa.model.workflow.FlowFormType">
    <id column="FORM_ID" property="formId"  javaType="int" />
    <result column="FORM_NAME" property="formName"  javaType="string" />
    <result column="DEPT_ID" property="deptId"  javaType="int" />
    <result column="ITEM_MAX" property="itemMax"  javaType="int" />
    <result column="FORM_SORT" property="formSort" javaType="int" />
    <result column="is_new" property="isNew" javaType="int" />
    <result column="PRINT_MODEL" property="printModel"  javaType="string" />
    <result column="PRINT_MODEL_SHORT" property="printModelShort"  javaType="string" />
    <result column="SCRIPT" property="script" javaType="string" />
    <result column="CSS" property="css"  javaType="string" />
  </resultMap>

  <select id="selectFlowFormType"  resultMap="BaseResultMap" >
    SELECT f.FORM_ID,f.FORM_NAME,f.PRINT_MODEL,f.PRINT_MODEL_SHORT,f.DEPT_ID,f.SCRIPT,f.CSS,f.ITEM_MAX,f.FORM_SORT,f.is_new from flow_form_type f
  </select>

  <select id="qureyItemMax"  resultMap="BaseResultMap">
      SELECT f.FORM_ID,f.ITEM_MAX,f.FORM_NAME,f.FORM_SORT,f.PRINT_MODEL,f.PRINT_MODEL_SHORT,f.DEPT_ID,f.SCRIPT,f.CSS,f.is_new  from FLOW_FORM_TYPE f where FORM_ID=#{formId}
  </select>
  
  <update id="updateItemMax"  parameterType="com.xoa.model.workflow.FlowFormType">
    UPDATE flow_form_type SET ITEM_MAX=#{itemMax}  where FORM_ID=#{formId}
  </update>

  <select id="selectFormBySort"  resultMap="BaseResultMap" parameterType="java.lang.Integer">

    SELECT * from flow_form_type
    <where>
      <if test="sortId != null">
        flow_form_type.FORM_SORT = #{sortId}
      </if>
      <if test="sortId == null">
        flow_form_type.FORM_SORT = 0 OR flow_form_type.FORM_SORT IS NULL
      </if>
    </where>

  </select>


</mapper>