<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xoa.dao.workflow.FlowTypeModelMapper" >
  <resultMap id="BaseResultMap" type="com.xoa.model.workflow.FlowTypeModel" >
    <id column="FLOW_ID" property="flowId" javaType="java.lang.Integer" />
    <result column="FLOW_NAME" property="flowName" javaType="java.lang.String" />
    <result column="FORM_ID" property="formId" javaType="java.lang.Integer" />
    <result column="FLOW_DOC" property="flowDoc" javaType="java.lang.String" />
    <result column="FLOW_TYPE" property="flowType" javaType="java.lang.String" />
    <result column="FLOW_NO" property="flowNo" javaType="java.lang.Integer" />
    <result column="FLOW_SORT" property="flowSort" javaType="java.lang.Integer" />
    <result column="AUTO_NUM" property="autoNum" javaType="java.lang.Integer" />
    <result column="AUTO_LEN" property="autoLen" javaType="java.lang.Integer" />
    <result column="AUTO_EDIT" property="autoEdit" javaType="java.lang.String" />
    <result column="COMMENT_PRIV" property="commentPriv" javaType="java.lang.String" />
    <result column="DEPT_ID" property="deptId" javaType="java.lang.Integer" />
    <result column="FREE_PRESET" property="freePreset" javaType="java.lang.String" />
    <result column="FREE_OTHER" property="freeOther" javaType="java.lang.String" />
    <result column="ALLOW_PRE_SET" property="allowPreSet" javaType="java.lang.String" />
    <result column="FORCE_PRE_SET" property="forcePreSet" javaType="java.lang.String" />
    <result column="VIEW_PRIV" property="viewPriv" javaType="java.lang.Integer" />
    <result column="IS_VERSION" property="isVersion" javaType="java.lang.Integer" />
    <result column="FLOW_ACTION" property="flowAction" javaType="java.lang.String" />
    <result column="AUTO_NUM_YEAR" property="autoNumYear" javaType="java.lang.Integer" />
    <result column="AUTO_NUM_MONTH" property="autoNumMonth" javaType="java.lang.Integer" />
    <result column="AUTO_NUM_TIME" property="autoNumTime" javaType="java.util.Date" />
    <result column="MANAGE_USER" property="manageUser" javaType="java.lang.String" />
    <result column="AUTO_NAME" property="autoName" javaType="java.lang.String" />
    <result column="QUERY_USER" property="queryUser" javaType="java.lang.String" />
    <result column="FLOW_DESC" property="flowDesc" javaType="java.lang.String" />
    <result column="NEW_USER" property="newUser" javaType="java.lang.String" />
    <result column="QUERY_ITEM" property="queryItem" javaType="java.lang.String" />
    <result column="QUERY_USER_DEPT" property="queryUserDept" javaType="java.lang.String" />
    <result column="MANAGE_USER_DEPT" property="manageUserDept" javaType="java.lang.String" />
    <result column="EDIT_PRIV" property="editPriv" javaType="java.lang.String" />
    <result column="LIST_FLDS_STR" property="listFldsStr" javaType="java.lang.String" />
    <result column="MODEL_ID" property="modelId" javaType="java.lang.String" />
    <result column="MODEL_NAME" property="modelName" javaType="java.lang.String" />
    <result column="ATTACHMENT_ID" property="attachmentId" javaType="java.lang.String" />
    <result column="ATTACHMENT_NAME" property="attachmentName" javaType="java.lang.String" />
    <result column="VIEW_USER" property="viewUser" javaType="java.lang.String" />
    <result column="VIEW_DEPT" property="viewDept" javaType="java.lang.String" />
  </resultMap>

  <resultMap id="FlowWithDep" type="com.xoa.model.workflow.FlowTypeModel" extends="BaseResultMap">
    <result column="DEPT_NAME" property="depName"  javaType="string" />
  </resultMap>
  <resultMap id="FlowWithRun" type="com.xoa.model.workflow.FlowTypeModel" extends="BaseResultMap">
    <result column="runName_NAME" property="runName"  javaType="string" />
  </resultMap>

  <!-- 新建流程自定义属性 -->
  <insert id="save" parameterType="com.xoa.model.workflow.FlowTypeModel" useGeneratedKeys="true" keyProperty="flowId" >
      insert into flow_type (FLOW_NAME,FORM_ID,FLOW_DOC,FLOW_TYPE,FLOW_NO,FLOW_SORT,AUTO_NUM,
    AUTO_LEN,AUTO_EDIT,COMMENT_PRIV,DEPT_ID,FREE_PRESET,FREE_OTHER,ALLOW_PRE_SET,FORCE_PRE_SET,
    VIEW_PRIV,IS_VERSION,FLOW_ACTION,AUTO_NUM_YEAR,AUTO_NUM_MONTH,AUTO_NUM_TIME,MANAGE_USER,AUTO_NAME,
    QUERY_USER,FLOW_DESC,NEW_USER,QUERY_ITEM,QUERY_USER_DEPT,MANAGE_USER_DEPT,EDIT_PRIV,
    LIST_FLDS_STR,MODEL_ID,MODEL_NAME,ATTACHMENT_ID,ATTACHMENT_NAME,VIEW_USER,VIEW_DEPT)
     VALUES
      (#{flowName},#{formId},#{flowDoc},#{flowType},#{flowNo},#{flowSort},#{autoNum},#{autoLen},
    #{autoEdit},#{commentPriv},#{deptId},#{freePreset},#{freeOther},#{allowPreSet},#{forcePreSet},
    #{viewPriv},#{isVersion},#{flowAction},#{autoNumYear},#{autoNumMonth},#{autoNumTime},
    #{manageUser},#{autoName},#{queryUser},#{flowDesc},#{newUser},#{queryItem},#{queryUserDept},
    #{manageUserDept},#{editPriv},#{listFldsStr},#{modelId},#{modelName},#{attachmentId},
    #{attachmentName},#{viewUser},#{viewDept});
  </insert>

  <!-- 流程查询自定义属性 -->
  <select id="queryOne"  resultMap="BaseResultMap"
          parameterType="Map">
    SELECT FLOW_ID, FLOW_NAME,FORM_ID,FLOW_DOC,FLOW_TYPE,FLOW_NO,FLOW_SORT,AUTO_NUM,
    AUTO_LEN,AUTO_EDIT,COMMENT_PRIV,DEPT_ID,FREE_PRESET,FREE_OTHER,ALLOW_PRE_SET,FORCE_PRE_SET,
    VIEW_PRIV,IS_VERSION,FLOW_ACTION,AUTO_NUM_YEAR,AUTO_NUM_MONTH,AUTO_NUM_TIME,MANAGE_USER,AUTO_NAME,
    QUERY_USER,FLOW_DESC,NEW_USER,QUERY_ITEM,QUERY_USER_DEPT,MANAGE_USER_DEPT,EDIT_PRIV,
    LIST_FLDS_STR,MODEL_ID,MODEL_NAME,ATTACHMENT_ID,ATTACHMENT_NAME,VIEW_USER,VIEW_DEPT
    FROM FLOW_TYPE
    WHERE
    FLOW_ID =#{flowId}
  </select>

  <!-- 修改自定义属性 -->
  <update id="update" parameterType="com.xoa.model.workflow.FlowTypeModel">
    UPDATE FLOW_TYPE
    <set>
      <if test="flowName != null and flowName != ''">
      FLOW_NAME = #{flowName},
      </if>
    <if test="formId != null and formId != ''">
      FORM_ID = #{formId},
    </if>
    <if test="flowDoc != null and flowDoc != ''">
      FLOW_DOC = #{flowDoc},
    </if>
    <if test="flowType != null and flowType != ''">
      FLOW_TYPE = #{flowType},
    </if>
      <if test="flowNo != null and flowNo = ''">
        FLOW_NO = #{flowNo},
      </if>
      <if test="flowSort != null and flowSort != ''">
      FLOW_SORT = #{flowSort},
      </if>
      <if test="autoNum != null and autoNum != ''">
      AUTO_NUM = #{autoNum},
      </if>
      <if test="autoLen != null and autoLen != ''">
      AUTO_LEN = #{autoLen},
      </if>
      <if test="autoEdit != null and autoEdit != ''">
      AUTO_EDIT = #{autoEdit},
      </if>
      <if test="commentPriv!=null and commentPriv != ''">
      COMMENT_PRIV = #{commentPriv},
      </if>
      <if test="deptId != null and deptId != ''">
      DEPT_ID = #{deptId},
      </if>
      <if test="freePreset != null and freePreset != ''">
      FREE_PRESET = #{freePreset},
      </if>
      <if test="freeOther != null and freeOther != ''">
      FREE_OTHER = #{freeOther},
      </if>
      <if test="allowPreSet != null and allowPreSet != '' ">
      ALLOW_PRE_SET = #{allowPreSet},
      </if>
      <if test="forcePreSet != null and forcePreSet != '' ">
      FORCE_PRE_SET = #{forcePreSet},
      </if>
      <if test="viewPriv != null and viewPriv != ''">
      VIEW_PRIV = #{viewPriv},
      </if>
      <if test="isVersion != null and isVersion != '' ">
      IS_VERSION = #{isVersion},
      </if>
      <if test="flowAction != null and flowAction != ''">
      FLOW_ACTION != #{flowAction},
      </if>
      <if test="autoNumYear != null and autoNumYear != ''">
      AUTO_NUM_YEAR = #{autoNumYear},
      </if>
      <if test="autoNumMonth != null and autoNumMonth != ''">
      AUTO_NUM_MONTH = #{autoNumMonth},
      </if>
      <if test="autoNumTime != null and autoNumTime != ''">
      AUTO_NUM_TIME = #{autoNumTime},
      </if>
      <if test="manageUser != null and manageUser != ''">
      MANAGE_USER = #{manageUser},
      </if>
      <if test="autoName != null and autoName != ''">
      AUTO_NAME = #{autoName},
      </if>
      <if test="queryUser != null and queryUser != ''">
      QUERY_USER = #{queryUser},
      </if>
      <if test="flowDesc != null and flowDesc != ''">
      FLOW_DESC = #{flowDesc},
      </if>
      <if test="newUser != null and newUser != ''">
      NEW_USER = #{newUser},
      </if>
      <if test="queryItem != null and queryItem != ''">
      QUERY_ITEM = #{queryItem},
      </if>
      <if test="queryUserDept != null and queryUserDept != ''">
      QUERY_USER_DEPT = #{queryUserDept},
      </if>
      <if test="manageUserDept != null and manageUserDept != ''">
      MANAGE_USER_DEPT = #{manageUserDept},
      </if>
      <if test="editPriv != null and editPriv != ''">
      EDIT_PRIV = #{editPriv},
      </if>
      <if test="listFldsStr != null and listFldsStr!= ''">
      LIST_FLDS_STR = #{listFldsStr},
      </if>
      <if test="modelId != null and modelId != ''">
      MODEL_ID = #{modelId},
      </if>
      <if test="modelName != null and modelName != ''">
      MODEL_NAME = #{modelName},
      </if>
      <if test="attachmentId != null and attachmentId != ''">
      ATTACHMENT_ID = #{attachmentId},
      </if>
      <if test="attachmentName != null and attachmentName != ''">
      ATTACHMENT_NAME = #{attachmentName},
      </if>
      <if test="viewUser != null and viewUser != ''">
      VIEW_USER = #{viewUser},
      </if>
      <if test="viewDept != null and  viewDept != ''">
      VIEW_DEPT = #{viewDept}
      </if>
    </set>
    WHERE
    FLOW_ID = #{flowId}
  </update>


  <select id="selectBySortid" resultMap="FlowWithDep" parameterType="java.lang.Integer">
    SELECT  flow_type.*,department.DEPT_NAME FROM  flow_type LEFT JOIN department ON department.DEPT_ID=flow_type.DEPT_ID
    <where>
      <if test="flowId != null">
        flow_type.FLOW_SORT =#{flowId}
      </if>
      <if test="flowId ==null">

        flow_type.FLOW_SORT =0 OR flow_type IS NULL
      </if>
    </where>
  </select>

  <select id="selectBySearch" resultMap="FlowWithDep" parameterType="Map">
    SELECT  flow_type.*,department.DEPT_NAME FROM  flow_type LEFT JOIN department ON department.DEPT_ID=flow_type.DEPT_ID
    WHERE  flow_type.FLOW_NAME LIKE CONCAT("%",#{searchValue},"%")
    <if test="sortId!=null">
    AND  flow_type.FLOW_SORT = #{sortId}
    </if>
  </select>
  <select id="selectFlowAuthOrSearch" resultMap="FlowWithRun" parameterType="Map">
    SELECT flow_type.*,flowRun.RUN_NAME FROM flow_type
    INNER JOIN flow_process ON flow_process.FLOW_ID=flow_type.FLOW_ID  AND flow_process.PRCS_ID in (
    SELECT MIN(flow_process.PRCS_ID) FROM flow_process WHERE flow_process.FLOW_ID=flow_type.FLOW_ID
    )
    AND (
    <trim suffixOverrides="OR">
      FIND_IN_SET(#{user},flow_process.PRCS_USER) OR
      FIND_IN_SET(#{deptId},flow_process.PRCS_DEPT) OR
      FIND_IN_SET(#{privId},flow_process.PRCS_PRIV) OR flow_process.PRCS_DEPT='ALL_DEPT' OR
      <if test="privIds!=null">
        <foreach item="item" collection="privIds">
          FIND_IN_SET(#{item},flow_process.PRCS_PRIV) OR
        </foreach>
      </if>
      <if test="deptIds!=null">
        <foreach item="item" collection="deptIds">
          FIND_IN_SET(#{item},flow_process.PRCS_DEPT) OR
        </foreach>
      </if>
    </trim>
    )
    LEFT JOIN(
    SELECT * FROM flow_run  ORDER BY flow_run.BEGIN_TIME DESC LIMIT 0,1
    ) AS flowRun ON flowRun.FLOW_ID= flow_type.FLOW_ID
    <where>
      <if test="sortId!=null">
        flow_type.FLOW_SORT =#{sortId}
      </if>
      <if test="searchValue!=null">
        AND flow_type.FLOW_NAME LIKE CONCAT("%",#{searchValue},"%")
      </if>
    </where>
    ORDER BY  flowRun.BEGIN_TIME
  </select>



</mapper>