<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xoa.dao.workflow.FlowTypeModelMapper" >
  <resultMap id="BaseResultMap" type="com.xoa.model.workflow.FlowTypeModel" >
    <id column="FLOW_ID" property="flowId" jdbcType="INTEGER" />
    <result column="FLOW_NAME" property="flowName" jdbcType="VARCHAR" />
    <result column="FORM_ID" property="formId" jdbcType="INTEGER" />
    <result column="FLOW_DOC" property="flowDoc" jdbcType="CHAR" />
    <result column="FLOW_TYPE" property="flowType" jdbcType="CHAR" />
    <result column="FLOW_NO" property="flowNo" jdbcType="INTEGER" />
    <result column="FLOW_SORT" property="flowSort" jdbcType="INTEGER" />
    <result column="AUTO_NUM" property="autoNum" jdbcType="INTEGER" />
    <result column="AUTO_LEN" property="autoLen" jdbcType="INTEGER" />
    <result column="AUTO_EDIT" property="autoEdit" jdbcType="VARCHAR" />
    <result column="COMMENT_PRIV" property="commentPriv" jdbcType="CHAR" />
    <result column="DEPT_ID" property="deptId" jdbcType="INTEGER" />
    <result column="FREE_PRESET" property="freePreset" jdbcType="CHAR" />
    <result column="FREE_OTHER" property="freeOther" jdbcType="CHAR" />
    <result column="ALLOW_PRE_SET" property="allowPreSet" jdbcType="CHAR" />
    <result column="FORCE_PRE_SET" property="forcePreSet" jdbcType="CHAR" />
    <result column="VIEW_PRIV" property="viewPriv" jdbcType="INTEGER" />
    <result column="IS_VERSION" property="isVersion" jdbcType="INTEGER" />
    <result column="FLOW_ACTION" property="flowAction" jdbcType="VARCHAR" />
    <result column="AUTO_NUM_YEAR" property="autoNumYear" jdbcType="INTEGER" />
    <result column="AUTO_NUM_MONTH" property="autoNumMonth" jdbcType="INTEGER" />
    <result column="AUTO_NUM_TIME" property="autoNumTime" jdbcType="TIMESTAMP" />
    <result column="MANAGE_USER" property="manageUser" jdbcType="LONGVARCHAR" />
    <result column="AUTO_NAME" property="autoName" jdbcType="LONGVARCHAR" />
    <result column="QUERY_USER" property="queryUser" jdbcType="LONGVARCHAR" />
    <result column="FLOW_DESC" property="flowDesc" jdbcType="LONGVARCHAR" />
    <result column="NEW_USER" property="newUser" jdbcType="LONGVARCHAR" />
    <result column="QUERY_ITEM" property="queryItem" jdbcType="LONGVARCHAR" />
    <result column="QUERY_USER_DEPT" property="queryUserDept" jdbcType="LONGVARCHAR" />
    <result column="MANAGE_USER_DEPT" property="manageUserDept" jdbcType="LONGVARCHAR" />
    <result column="EDIT_PRIV" property="editPriv" jdbcType="LONGVARCHAR" />
    <result column="LIST_FLDS_STR" property="listFldsStr" jdbcType="LONGVARCHAR" />
    <result column="MODEL_ID" property="modelId" jdbcType="LONGVARCHAR" />
    <result column="MODEL_NAME" property="modelName" jdbcType="LONGVARCHAR" />
    <result column="ATTACHMENT_ID" property="attachmentId" jdbcType="LONGVARCHAR" />
    <result column="ATTACHMENT_NAME" property="attachmentName" jdbcType="LONGVARCHAR" />
    <result column="VIEW_USER" property="viewUser" jdbcType="LONGVARCHAR" />
    <result column="VIEW_DEPT" property="viewDept" jdbcType="LONGVARCHAR" />
    <result column="VIEW_ROLE" property="viewRole" jdbcType="LONGVARCHAR" />
  </resultMap>
  
</mapper>