<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xoa.dao.workflow.FlowTypeModelMapper" >
  <resultMap id="BaseResultMap" type="com.xoa.model.workflow.FlowTypeModel" >
    <id column="FLOW_ID" property="flowId" javaType="java.lang.Integer" />
    <result column="FLOW_NAME" property="flowName" javaType="java.lang.String" />
    <result column="FORM_ID" property="formId" javaType="java.lang.Integer" />
    <result column="FLOW_DOC" property="flowDoc" javaType="java.lang.String" />
    <result column="FLOW_TYPE" property="flowType" javaType="java.lang.String" />
    <result column="FLOW_NO" property="flowNo" javaType="java.lang.Integer" />
    <result column="FLOW_SORT" property="flowSort" javaType="java.lang.Integer" />
    <result column="AUTO_NUM" property="autoNum" javaType="java.lang.Integer" />
    <result column="AUTO_LEN" property="autoLen" javaType="java.lang.Integer" />
    <result column="AUTO_EDIT" property="autoEdit" javaType="java.lang.String" />
    <result column="COMMENT_PRIV" property="commentPriv" javaType="java.lang.String" />
    <result column="DEPT_ID" property="deptId" javaType="java.lang.Integer" />
    <result column="FREE_PRESET" property="freePreset" javaType="java.lang.String" />
    <result column="FREE_OTHER" property="freeOther" javaType="java.lang.String" />
    <result column="ALLOW_PRE_SET" property="allowPreSet" javaType="java.lang.String" />
    <result column="FORCE_PRE_SET" property="forcePreSet" javaType="java.lang.String" />
    <result column="VIEW_PRIV" property="viewPriv" javaType="java.lang.Integer" />
    <result column="IS_VERSION" property="isVersion" javaType="java.lang.Integer" />
    <result column="FLOW_ACTION" property="flowAction" javaType="java.lang.String" />
    <result column="AUTO_NUM_YEAR" property="autoNumYear" javaType="java.lang.Integer" />
    <result column="AUTO_NUM_MONTH" property="autoNumMonth" javaType="java.lang.Integer" />
    <result column="AUTO_NUM_TIME" property="autoNumTime" javaType="java.util.Date" />
    <result column="MANAGE_USER" property="manageUser" javaType="java.lang.String" />
    <result column="AUTO_NAME" property="autoName" javaType="java.lang.String" />
    <result column="QUERY_USER" property="queryUser" javaType="java.lang.String" />
    <result column="FLOW_DESC" property="flowDesc" javaType="java.lang.String" />
    <result column="NEW_USER" property="newUser" javaType="java.lang.String" />
    <result column="QUERY_ITEM" property="queryItem" javaType="java.lang.String" />
    <result column="QUERY_USER_DEPT" property="queryUserDept" javaType="java.lang.String" />
    <result column="MANAGE_USER_DEPT" property="manageUserDept" javaType="java.lang.String" />
    <result column="EDIT_PRIV" property="editPriv" javaType="java.lang.String" />
    <result column="LIST_FLDS_STR" property="listFldsStr" javaType="java.lang.String" />
    <result column="MODEL_ID" property="modelId" javaType="java.lang.String" />
    <result column="MODEL_NAME" property="modelName" javaType="java.lang.String" />
    <result column="ATTACHMENT_ID" property="attachmentId" javaType="java.lang.String" />
    <result column="ATTACHMENT_NAME" property="attachmentName" javaType="java.lang.String" />
    <result column="VIEW_USER" property="viewUser" javaType="java.lang.String" />
    <result column="VIEW_DEPT" property="viewDept" javaType="java.lang.String" />
  </resultMap>

  <resultMap id="FlowWithDep" type="com.xoa.model.workflow.FlowTypeModel" extends="BaseResultMap">
    <result column="DEPT_NAME" property="depName"  javaType="string" />
  </resultMap>
  <!-- 新建流程 -->
  <insert id="save" parameterType="com.xoa.model.workflow.FlowTypeModel" useGeneratedKeys="true" keyProperty="flowId" >
      insert into flow_type (FLOW_NAME,FORM_ID,FLOW_DOC,FLOW_TYPE,FLOW_NO,FLOW_SORT,AUTO_NUM,
    AUTO_LEN,AUTO_EDIT,COMMENT_PRIV,DEPT_ID,FREE_PRESET,FREE_OTHER,ALLOW_PRE_SET,FORCE_PRE_SET,
    VIEW_PRIV,IS_VERSION,FLOW_ACTION,AUTO_NUM_YEAR,AUTO_NUM_MONTH,AUTO_NUM_TIME,MANAGE_USER,AUTO_NAME,
    QUERY_USER,FLOW_DESC,NEW_USER,QUERY_ITEM,QUERY_USER_DEPT,MANAGE_USER_DEPT,EDIT_PRIV,
    LIST_FLDS_STR,MODEL_ID,MODEL_NAME,ATTACHMENT_ID,ATTACHMENT_NAME,VIEW_USER,VIEW_DEPT)
     VALUES
      (#{flowName},#{formId},#{flowDoc},#{flowType},#{flowNo},#{flowSort},#{autoNum},#{autoLen},
    #{autoEdit},#{commentPriv},#{deptId},#{freePreset},#{freeOther},#{allowPreSet},#{forcePreSet},
    #{viewPriv},#{isVersion},#{flowAction},#{autoNumYear},#{autoNumMonth},#{autoNumTime},
    #{manageUser},#{autoName},#{queryUser},#{flowDesc},#{newUser},#{queryItem},#{queryUserDept},
    #{manageUserDept},#{editPriv},#{listFldsStr},#{modelId},#{modelName},#{attachmentId},
    #{attachmentName},#{viewUser},#{viewDept});
  </insert>

  <select id="selectBySortid" resultMap="FlowWithDep" parameterType="java.lang.Integer">
    SELECT  flow_type.*,department.DEPT_NAME FROM  flow_type LEFT JOIN department ON department.DEPT_ID=flow_type.DEPT_ID
    <where>
      <if test="flowId != null">
        flow_type.FLOW_SORT =#{flowId}
      </if>
      <if test="flowId ==null">

        flow_type.FLOW_SORT =0 OR flow_type IS NULL
      </if>
    </where>
  </select>

  <select id="selectBySearch" resultMap="FlowWithDep" parameterType="Map">
    SELECT  flow_type.*,department.DEPT_NAME FROM  flow_type LEFT JOIN department ON department.DEPT_ID=flow_type.DEPT_ID
    WHERE  flow_type.FLOW_NAME LIKE CONCAT("%",#{searchValue},"%")
    <if test="sortId!=null">
    AND  flow_type.FLOW_SORT = #{sortId}
    </if>
  </select>

</mapper>