<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xoa.dao.sys.SysLogMapper">
    <resultMap id="BaseResultMap" type="com.xoa.model.common.Syslog">
        <id column="LOG_ID" property="logId" jdbcType="INTEGER"/>
        <result column="USER_ID" property="userId" jdbcType="VARCHAR"/>
        <result column="TIME" property="time" jdbcType="TIMESTAMP"/>
        <result column="IP" property="ip" jdbcType="VARCHAR"/>
        <result column="TYPE" property="type" jdbcType="TINYINT"/>
    </resultMap>

    <select id="getTenLog" resultMap="BaseResultMap">
        select s.LOG_ID, s.USER_ID, s.TIME, s.IP, s.TYPE from sys_log s where s.LOG_ID>(select max(LOG_ID)-10 from sys_log) order by s.LOG_ID desc
    </select>
    <select id="findTotalCount" resultType="java.lang.Long">
        select COUNT(s.LOG_ID)  from sys_log s;
    </select>
    <!--  <select id="findDayCount" resultType="com.xoa.model.common.Syslog">
          select * from sys_log s HAVING s.LOG_ID =  min(s.LOG_ID);
      </select>-->
    <select id="findYearCount" resultType="java.lang.Long" parameterType="java.lang.String">
        SELECT count(LOG_ID) FROM sys_log WHERE date(TIME) between concat(#{year}, '-01-01') AND concat(#{year},'-12-31');
    </select>
    <select id="findMouthCount" resultType="java.lang.Long">
        SELECT count(LOG_ID) FROM sys_log WHERE date(TIME) between concat(#{yearmouth}, '-01') AND concat(#{yearmouth},'-31');
    </select>
    <select id="findDayCount" resultType="java.lang.Long" parameterType="java.lang.String">
        SELECT count(LOG_ID) FROM sys_log WHERE date(TIME)=#{yearmouthday};
    </select>

    <select id="findTotalDay" resultMap="BaseResultMap">
        select s.TIME from sys_log s WHERE s.LOG_ID=(SELECT min(s1.LOG_ID) from sys_log s1) AND s.TYPE=1;
    </select>

    <select id="getThisMonthCount" parameterType="java.lang.String" resultType="java.lang.Integer">
        select count(s.LOG_ID) FROM sys_log s WHERE date(s.TIME ) LIKE concat(#{monthTime}, '%');
    </select>

    <select id="getEachDayLogData" parameterType="java.lang.String" resultType="java.lang.Integer">
        select count(s.LOG_ID) FROM sys_log s WHERE date(s.TIME ) LIKE concat(#{dayTime}, '%');
    </select>
    <select id="getHourLog" parameterType="java.util.HashMap" resultType="java.lang.Integer">
        SELECT count(*) from SYS_LOG where TYPE='1' and RIGHT(TIME,8)>=concat(#{hourTime}, ":00:00") and concat(#{hourTime}, ':59:59') >= RIGHT(TIME,8);
    </select>

    <select id="findLogOption" parameterType="hashMap" resultMap="BaseResultMap">
        select * from sys_log s
        <where>
            <if test="type != null">
                and s.TYPE = #{type}
            </if>
            <if test="startTime != null">
                AND date(TIME) >= #{startTime}
            </if>
            <if test="endTime != null">
                AND #{endTime} >= date(TIME)
            </if>
            <if test="ip != null">
                AND s.IP = #{ip}
            </if>
            <if test="remark != null">
                AND s.REMARK LIKE concat("%",#{remark}, "%")
            </if>
            <if test="ids != null">
                <foreach collection="ids" item="id" open=" AND  s.USER_ID  IN ( " close=" ) " separator=" , ">
                    #{id}
                </foreach>
            </if>

        </where>
    </select>

    <delete id="deleteLogOption" parameterType="hashMap">
        delete from sys_log
        <where>
            <if test="type != null">
                and TYPE = #{type}
            </if>
            <if test="startTime != null">
                AND date(TIME) >= #{startTime}
            </if>
            <if test="endTime != null">
                AND #{endTime} >= date(TIME)
            </if>
            <if test="ip != null">
                AND IP = #{ip}
            </if>
            <if test="remark != null">
                AND REMARK LIKE concat("%",#{remark}, "%")
            </if>
            <foreach collection="ids" item="id" open=" AND  USER_ID  IN ( " close=" ) " separator=" , ">
                #{id}
            </foreach>
        </where>

    </delete>

    <delete id="deleteLogById" parameterType="java.lang.Integer">
        DELETE FROM sys_log  WHERE LOG_ID = #{id}
    </delete>


</mapper>

