<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xoa.dao.menu.SysFunctionMapper" >
  <resultMap id="BaseResultMap" type="com.xoa.model.menu.SysFunction" >
    <id column="FUNC_ID" property="funcId" jdbcType="INTEGER" />
    <result column="MENU_ID" property="menuId" jdbcType="VARCHAR" />
    <result column="FUNC_NAME" property="funcName" jdbcType="VARCHAR" />
    <result column="FUNC_CODE" property="funcCode" jdbcType="VARCHAR" />
    <result column="FUNC_EXT" property="funcExt" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    FUNC_ID, MENU_ID, FUNC_NAME, FUNC_CODE, FUNC_EXT
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sys_function
    where FUNC_ID = #{funcId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sys_function
    where FUNC_ID = #{funcId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xoa.model.menu.SysFunction" >
    insert into sys_function (FUNC_ID, MENU_ID, FUNC_NAME, 
      FUNC_CODE, FUNC_EXT)
    values (#{funcId,jdbcType=INTEGER}, #{menuId,jdbcType=VARCHAR}, #{funcName,jdbcType=VARCHAR}, 
      #{funcCode,jdbcType=VARCHAR}, #{funcExt,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xoa.model.menu.SysFunction" >
    insert into sys_function
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="funcId != null" >
        FUNC_ID,
      </if>
      <if test="menuId != null" >
        MENU_ID,
      </if>
      <if test="funcName != null" >
        FUNC_NAME,
      </if>
      <if test="funcCode != null" >
        FUNC_CODE,
      </if>
      <if test="funcExt != null" >
        FUNC_EXT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="funcId != null" >
        #{funcId,jdbcType=INTEGER},
      </if>
      <if test="menuId != null" >
        #{menuId,jdbcType=VARCHAR},
      </if>
      <if test="funcName != null" >
        #{funcName,jdbcType=VARCHAR},
      </if>
      <if test="funcCode != null" >
        #{funcCode,jdbcType=VARCHAR},
      </if>
      <if test="funcExt != null" >
        #{funcExt,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xoa.model.menu.SysFunction" >
    update sys_function
    <set >
      <if test="menuId != null" >
        MENU_ID = #{menuId,jdbcType=VARCHAR},
      </if>
      <if test="funcName != null" >
        FUNC_NAME = #{funcName,jdbcType=VARCHAR},
      </if>
      <if test="funcCode != null" >
        FUNC_CODE = #{funcCode,jdbcType=VARCHAR},
      </if>
      <if test="funcExt != null" >
        FUNC_EXT = #{funcExt,jdbcType=VARCHAR},
      </if>
    </set>
    where FUNC_ID = #{funcId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xoa.model.menu.SysFunction" >
    update sys_function
    set MENU_ID = #{menuId,jdbcType=VARCHAR},
      FUNC_NAME = #{funcName,jdbcType=VARCHAR},
      FUNC_CODE = #{funcCode,jdbcType=VARCHAR},
      FUNC_EXT = #{funcExt,jdbcType=VARCHAR}
    where FUNC_ID = #{funcId,jdbcType=INTEGER}
  </update>
</mapper>