<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xoa.dao.notify.NotifyMapper">
	<resultMap id="BaseResultMap" type="com.xoa.model.notify.Notify">
		<result column="NOTIFY_ID" property="notifyId" javaType="int" />
		<result column="FROM_DEPT" property="fromDept" javaType="int" />
		<result column="FROM_ID" property="fromId" javaType="String" />
		<result column="SUBJECT" property="subject" javaType="String" />
		<result column="SEND_TIME" property="sendTime" javaType="Date" />
		<result column="BEGIN_DATE" property="beginDate" javaType="int" />
		<result column="END_DATE" property="endDate" javaType="int" />
		<result column="PRINT" property="print" javaType="String" />
		<result column="TYPE_ID" property="typeId" javaType="String" />
		<result column="TOP" property="top" javaType="String" />
		<result column="TOP_DAYS" property="topDays" javaType="int" />
		<result column="FORMAT" property="format" javaType="String" />
		<result column="PUBLISH" property="publish" javaType="String" />
		<result column="AUDITER" property="auditer" javaType="String" />
		<result column="AUDIT_DATE" property="auditDate" javaType="String" />
		<result column="DOWNLOAD" property="download" javaType="String" />
		<result column="LAST_EDITOR" property="lastEditor" javaType="String" />
		<result column="LAST_EDIT_TIME" property="lastEditTime"
			javaType="Date" />
		<result column="SUBJECT_COLOR" property="subjectColor"
			javaType="String" />
		<result column="KEYWORD" property="keyword" javaType="String" />
		<result column="IS_FW" property="isFw" javaType="String" />
		<result column="TO_ID" property="toId" javaType="String" />
		<result column="CONTENT" property="content" javaType="String" />
		<result column="ATTACHMENT_ID" property="attachmentId"
			javaType="String" />
		<result column="ATTACHMENT_NAME" property="attachmentName"
			javaType="String" />
		<result column="READERS" property="readers" javaType="String" />
		<result column="PRIV_ID" property="privId" javaType="String" />
		<result column="USER_ID" property="userId" javaType="String" />
		<result column="REASON" property="reason" javaType="String" />
		<result column="COMPRESS_CONTENT" property="compressContent"
			javaType="String" />
		<result column="SUMMARY" property="summary" javaType="String" />

		<association javaType="com.xoa.model.users.Users"
			property="users">
			<id javaType="int" property="uid" column="UID" />
			<result javaType="string" property="userId" column="USER_ID" />
			<result javaType="string" property="userName" column="USER_NAME" />
		</association>

		<association property="codes" javaType="com.xoa.model.common.SysCode">
			<id column="CODE_ID" property="codeId" javaType="int" />
			<result column="CODE_NO" property="codeNo" javaType="String" />
			<result column="CODE_NAME" property="codeName" javaType="String" />
			<result column="CODE_ORDER" property="codeOrder" javaType="String" />
			<result column="PARENT_NO" property="parentNo" javaType="String" />
		</association>
	</resultMap>

	<!-- 条件查询 -->
	<select id="selectNotify" resultMap="BaseResultMap"
		parameterType="Map">
		SELECT n.SEND_TIME,n.TYPE_ID,n.`SUBJECT`,n.BEGIN_DATE,n.END_Date,n.CONTENT,n.FORMAT,n.TO_ID,
       n.READERS,n.NOTIFY_ID,u.USER_NAME,s.CODE_NAME from notify n,`user` u,sys_code s WHERE n.FROM_ID=u.USER_ID
      and s.PARENT_NO='Notify' and s.CODE_ORDER=n.TYPE_ID

		<if test="format != null and format != ''"> AND FORMAT = #{format} </if>
		<if test="toId != null and toId != ''"> AND TO_ID = #{toId} </if>
		<if test="typeId != null and typeId != ''"> AND TYPE_ID = #{typeId} </if>
		<if test="subject != null and subject != ''"> AND SUBJECT like CONCAT('%',#{subject},'%') </if>
		<if test="sendTime != null and sendTime != ''">
			 AND DATE(SEND_TIME) = #{sendTime}
		</if>
		<if
			test="beginDate != null and beginDate != '' and endDate != null and endDate != ''">
			AND SEND_TIME between #{beginDate} and #{endDate}
		</if>
		<if test="content != null and content != ''"> AND CONTENT like CONCAT('%',#{content},'%') </if>

	</select>
	<!-- 查询所有公告信息 -->
	<!--<select id="selectCountNotify" parameterType="com.xoa.model.notify.Notify" 
		resultMap="BaseResultMap"> SELECT NOTIFY_ID,FROM_DEPT,FROM_ID,TO_ID,SUBJECT,CONTENT, 
		BEGIN_DATE,END_DATE,ATTACHMENT_ID, ATTACHMENT_NAME,READERS,PRINT,PRIV_ID,USER_ID, 
		TYPE_ID,TOP,TOP_DAYS,FORMAT,PUBLISH,AUDITER,REASON, AUDIT_DATE, COMPRESS_CONTENT,DOWNLOAD,LAST_EDITOR, 
		SUBJECT_COLOR,SUMMARY,KEYWORD,IS_FW from notify where <if test="typeId != 
		null and typeId != ''"> TYPE_ID = #{typeId} </if> <if test="sendTime != null 
		and sendTime != ''"> AND SEND_TIME = #{sendTime} </if> </select> -->

	<!-- 查询公告管理信息 -->
	<select id="selectNotifyManage" parameterType="Map" resultMap="BaseResultMap">
		select
		n.NOTIFY_ID,n.TO_ID,n.FROM_ID,n.`SUBJECT`,n.TYPE_ID,n.SEND_TIME,n.FORMAT,n.BEGIN_DATE,n.END_DATE,n.PUBLISH,n.CONTENT,n.FROM_DEPT,u.USER_NAME
		FROM notify n,`user` u WHERE n.FROM_ID=u.USER_ID
	</select>


	<!-- 查询未读已读信息并返回 列表 -->
	<select id="unreadNotify" parameterType="Map" resultMap="BaseResultMap">
		SELECT n.SEND_TIME,n.TYPE_ID,n.`SUBJECT`,n.BEGIN_DATE,n.END_Date,n.CONTENT,n.FORMAT,n.TO_ID,
       n.READERS,n.NOTIFY_ID,u.USER_NAME,s.CODE_NAME from notify n,`user` u,sys_code s WHERE n.FROM_ID=u.USER_ID
      and s.PARENT_NO='Notify' and s.CODE_ORDER=n.TYPE_ID

		<if test="format != null and format != ''"> AND FORMAT = #{format} </if>
		<if test="toId != null and toId != ''"> AND TO_ID = #{toId} </if>
		<if test="typeId != null and typeId != ''"> AND TYPE_ID = #{typeId} </if>
		<if test="subject != null and subject != ''"> AND SUBJECT like CONCAT('%',#{subject},'%') </if>
		<if test="sendTime != null and sendTime != ''">
			 AND DATE(SEND_TIME) = #{sendTime}
		</if>
		<if
			test="beginDate != null and beginDate != '' and endDate != null and endDate != ''">
			AND SEND_TIME between #{beginDate} and #{endDate}
		</if>
		<if test="content != null and content != ''"> AND CONTENT like CONCAT('%',#{content},'%') </if>
	</select>



	<!-- 公告详情查询 -->
	<select id="detailedNotify" resultMap="BaseResultMap">
		<!-- SELECT NOTIFY_ID,FROM_DEPT,FROM_ID,TO_ID,`SUBJECT`,CONTENT, SEND_TIME,BEGIN_DATE,END_DATE,ATTACHMENT_ID, 
			ATTACHMENT_NAME,READERS, PRINT,PRIV_ID,USER_ID, TYPE_ID,TOP,TOP_DAYS,FORMAT,PUBLISH,AUDITER,REASON, 
			IF(AUDIT_DATE='0000-00-00','null',AUDIT_DATE)AUDIT_DATE, DOWNLOAD,LAST_EDITOR,LAST_EDIT_TIME, 
			SUBJECT_COLOR,SUMMARY, KEYWORD,IS_FW FROM notify WHERE NOTIFY_ID=${notifyId} -->

		SELECT n.NOTIFY_ID,n.FROM_DEPT,n.FROM_ID,n.TO_ID,n.`SUBJECT`,
		n.CONTENT, n.SEND_TIME,n.BEGIN_DATE,n.END_DATE,n.ATTACHMENT_ID,
		n.ATTACHMENT_NAME,n.READERS,n.PRINT,n.PRIV_ID,n.USER_ID, n.TYPE_ID,
		n.TOP,n.TOP_DAYS,n.FORMAT,n.PUBLISH,n.AUDITER,n.REASON, n.DOWNLOAD,
		n.LAST_EDITOR,n.LAST_EDIT_TIME, n.SUBJECT_COLOR,n.SUMMARY,n.KEYWORD,
		n.IS_FW,u.USER_ID,u.USER_NAME FROM notify n,`user` u WHERE
		NOTIFY_ID=${notifyId}
		AND n.FROM_ID=u.USER_ID
	</select>

	<!-- 保存公告信息 -->
	<insert id="addNotify" parameterType="com.xoa.model.notify.Notify">
		insert into notify
		(FROM_DEPT,FROM_ID,TO_ID,SUBJECT,CONTENT,SEND_TIME,BEGIN_DATE,END_DATE,ATTACHMENT_ID,
		ATTACHMENT_NAME,READERS,PRINT,PRIV_ID,USER_ID,TYPE_ID,TOP,TOP_DAYS,FORMAT,PUBLISH,AUDITER,REASON,AUDIT_DATE,
		COMPRESS_CONTENT,DOWNLOAD,LAST_EDITOR,LAST_EDIT_TIME,SUBJECT_COLOR,SUMMARY,KEYWORD,IS_FW)
		values
		(#{fromDept},#{fromId},
		#{toId},#{subject},
		#{content},#{sendTime},
		#{beginDate},#{endDate},
		#{attachmentId},#{attachmentName},
		#{readers},#{print},
		#{privId},#{userId},
		#{typeId},#{top},
		#{topDays},#{format},
		#{publish},#{auditer},
		#{reason},#{auditDate},
		#{compressContent},#{download},
		#{lastEditor},#{lastEditTime},
		#{subjectColor},#{summary},
		#{keyword},#{isFw}
		)
	</insert>

	<!--根据Id修改公告 -->
	<update id="updateNotify" parameterType="com.xoa.model.notify.Notify">
		update notify
		<set>
			<if test="fromId != null">
				FROM_ID = #{fromId},
			</if>
			<if test="fromDept != null">
				FROM_DEPT = #{fromDept},
			</if>
			<if test="toId != null">
				TO_ID = #{toId},
			</if>
			<if test="format != null">
				FORMAT = #{format},
			</if>
			<if test="typeId != null">
				TYPE_ID = #{typeId},
			</if>
			<if test="subject != null">
				SUBJECT = #{subject},
			</if>
			<if test="sendTime != null">
				SEND_TIME = #{sendTime},
			</if>
			<if test="content != null">
				CONTENT = #{content},
			</if>
			<if test="beginDate != null">
				BEGIN_DATE = #{beginDate},
			</if>
			<if test="attachmentId != null">
				ATTACHMENT_ID = #{attachmentId},
			</if>
			<if test="readers != null">
				READERS = #{readers},
			</if>
			<if test="privId != null">
				PRIV_ID = #{privId},
			</if>
			<if test="top != null">
				TOP = #{top},
			</if>
			<if test="topDays != null">
				TOP_DAYS = #{topDays},
			</if>
			<if test="publish != null">
				PUBLISH = #{publish},
			</if>
			<if test="reason != null">
				REASON = #{reason},
			</if>
			<if test="compressContent != null">
				COMPRESS_CONTENT = #{compressContent},
			</if>
			<if test="lastEditor != null">
				LAST_EDITOR = #{lastEditor},
			</if>
			<if test="subjectColor != null">
				SUBJECT_COLOR = #{subjectColor},
			</if>
			<if test="keyword != null">
				KEY_WORD = #{keyword},
			</if>
			<if test="endDate != null">
				END_DATE = #{endDate},
			</if>
			<if test="attachmentName != null">
				ATTACHMENT_NAME = #{attachmentName},
			</if>
			<if test="print != null">
				PRINT = #{print},
			</if>
			<if test="userId != null">
				USER_ID = #{userId},
			</if>
			<if test="auditer != null">
				AUDITER = #{auditer},
			</if>
			<if test="auditDate != null">
				AUDIT_DATE = #{auditDate},
			</if>
			<if test="download != null">
				DOWNLOAD = #{download},
			</if>
			<if test="lastEditTime != null">
				LAST_EDIT_TIME = #{lastEditTime},
			</if>
			<if test="summary != null">
				SUMMARY = #{summary},
			</if>
			<if test="isFw != null">
				IS_FW = #{isFw},
			</if>

			where NOTIFY_ID = #{notifyId}
		</set>
	</update>

	<update id="updateReaders" parameterType="com.xoa.model.notify.Notify">
		update notify set READERS = #{readers} where NOTIFY_ID = #{notifyId}
	</update>
	<!-- 根据id删除 -->
	<delete id="deleteById" parameterType="String">
		delete from notify where
		NOTIFY_ID = #{id}
	</delete>
</mapper>