@CHARSET "UTF-8";
@import url(m_reset.css);
html,body,.wrapper{
	width:100%;
	height:100%;
	background:#f6f7f7;
	  font-family: "Microsoft Yahei";
}
html,body{
	overflow:hidden;
}
.wrapper{
	overflow-y:auto;
	overflow-x: hidden;
}
.header{
	width:100%;
	height:45px;
	background: #f8f8f8;
    box-shadow: -1px -1px 6px #555;
   /*  border: 1px solid #aaa; */
}
.header ul li{
	display: inline-block;
    height: 45px;
    min-width: 110px;
	margin-left: 14px;
}

.head_title{
	display: inline-block;
    margin: 7px 10px;
    padding: 0 10px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 10pt;
}
.active{
	background: #146fd0;
    border-radius: 10px;
    color: #fff;
}
.main{
	width: 100%;
   height: calc(100% - 50px);
}
.side{
	width:30%;
}
.main .middle{
	width:32%;
}
ul.total{
	width:100%;
	height:100%;
}
.contain{
	height: 47%;
	min-height: 200px;
    border: 1px solid #d2d2d2;
   /*  display: inline-block; */
    margin-left: 2%;
    margin-top: 1%;
}
.total .contain{
	float:left;
}
.every_logo{
    width: 28%;
    height: 43%;
    float: left;
    margin-top: 1%;
    margin-left: 3%;
}
.every_logo img{
	width: 65%;
    height: 51px;
    margin-left: 21%;
     margin-top: 16%;
}
.every_logo h2{
    width: 100%;
    height: 30%;
    text-align: center;
    line-height: 20px;
}
.all_mail li,.daily li{
	width:100%;
	height:30px;
}
.e_img,.e_name,.e_title,.e_time{
	float:left;
	/* width:25%; */
	height:100%;
}
.d_img,.d_name,.d_title,.d_time{
	float:left;
	/* width:25%; */
	height:100%;
}
.n_img,.n_name,.n_title,.n_time{
	float:left;
	/* width:25%; */
	height:100%;
	
}
.s_container,.tainer，,.s_cont{
	height: calc(100% - 32px);
	width:100%;
	background:#fff;
}
.s_container ul{
	height:100%;
	position:relative;
}
.all_li{
	width: 22%;
    height: 89px;
    float:left;
    margin-top:3%;
    margin-left:3%;
}
.s_container ul li{
	position:relative;
	border-bottom:1px solid rgba(0,0,0,0.1);
	height: calc((100% / 5) - 1px);
	font-size: 10pt;
}
.s_container ul li span{
	font-size:9pt;
}
.s_container ul li:last-child{
	border:0;
}
/* .s_container ul li span{
	display:inline-block;
	position: absolute;
} */
.s_container ul li span img{
	height: 30px;
    width: 30px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}
.s_head,.notice_head,.wenjian_head{
	height: 32px;
	line-height: 32px;
    width: 100%;
    font-size: 10pt;
   /*  background: rgba(3, 169, 244, 0.78); */
    background:url(../../../img/spirit/menu/s_head.png);
    color: #fff;
    position: relative;
}
.model,.wenjian_list,.wenjian_span{
	float:left;
}
.no_notice h1{
	/* font-size:14px; */
	margin-left:3%;
}
.s_head a{
	color:#fff;
}
.s_head span{
	cursor: pointer;
}

.more_daily{
	    margin-left: 80%;
}
.e_mail li{
	    width: 100%;
    height: 30px;
}
.s_head li{
	 cursor:pointer;
}
.model{
	margin-left: 10px;
}
.more{
	position: absolute;
    right: 10px;
}
.sort{
	width: 72px;
    height: 24px;
    line-height: 24px;
    margin: 4px;
    padding: 0;
}
.mail_title,.model,.more{
	float:left;
}
.mail_title li{
	float:left;
}
.e_title,.d_title,.n_title{
	width:41%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.model,.notice_list,.more_notice{
	float:left;
}
.e_time,.d_time,.n_time{
	/* position: absolute;
    right: 10px;
	height: 100%;
    width: 105px;
    text-align: right; */
    color: #898989;
    width:30%;
    text-align: center;
}
.more_notice{
	    margin-left: 40%;
}
.e_img,.d_img,.n_img{
	/* position: absolute;
    top: 0;
    left: 10px;
    bottom: 0;
    margin: auto; */
    height: 100%;
    width: 7%;
}
.e_name,.d_name,.n_name{
	left: 45px;
    width:20%;
    height: 100%;
}
.s_container ul li:hover{
	color:#2674dc;
	cursor: pointer;
}