@CHARSET "UTF-8";
@import url(m_reset.css);
html,body,.wrapper{
	width:100%;
	height:100%;
	background:#f6f7f7;
	  font-family: "Microsoft Yahei";
}
html,body{
	overflow:hidden;
}
.wrapper{
	overflow-y:auto;
	overflow-x: hidden;
}
.header{
	width:100%;
	height:45px;
	background: #f8f8f8;
    box-shadow: -1px -1px 6px #555;
   /*  border: 1px solid #aaa; */
}
.header ul li{
	display: inline-block;
    height: 45px;
    min-width: 110px;
}
.head_title{
	display: inline-block;
    margin: 7px 10px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 11pt;
}
.active{
    background: #2674dc;
    border-radius: 10px;
    color: #fff;
}
.main{
	width: 100%;
   height: calc(100% - 50px);
}
.side{
	width:30%;
}
.main .middle{
	width:32%;
}
ul.total{
	width:100%;
	height:100%;
}
.contain{
	height: 47%;
	min-height: 200px;
    border: 1px solid #d2d2d2;
    display: inline-block;
    margin-left: 2%;
    margin-top: 1%;
}
.s_container{
	height: calc(100% - 45px);
	width:100%;
}
.s_container ul{
	height:100%;
	position:relative;
}
.s_container ul li{
	position:relative;
	border-bottom:1px solid rgba(0,0,0,0.1);
	height: calc((100% / 5) - 1px);
	font-size: 10pt;
}
.s_container ul li:last-child{
	border:0;
}
.s_container ul li span{
	display:inline-block;
	position: absolute;
}
.s_container ul li span img{
	height: 30px;
    width: 30px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}
.s_head{
	height: 40px;
	line-height: 40px;
    width: 100%;
    font-size: 15px;
    background: rgba(3, 169, 244, 0.78);
    color: #fff;
    position: relative;
}
.s_head a{
	color:#fff;
}
.s_head span{
	cursor: pointer;
}
.model,.more{
	
}
.model{
	margin-left: 10px;
}
.more{
	position: absolute;
    right: 10px;
}
.sort{
	width: 80px;
    height: 27px;
    line-height: 27px;
    margin: 6px;
}
.e_title{
	position: absolute;
    left: 100px;
	width: calc(100% - 220px);
    height: 100%;
    line-height: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.e_time{
	position: absolute;
    right: 10px;
	height: 100%;
    width: 110px;
    text-align: right;
    color: #898989;
}
.e_img{
	position: absolute;
    top: 0;
    left: 10px;
    bottom: 0;
    margin: auto;
    height: 100%;
    width: 30px;
}
.e_name{
	left: 45px;
    width:60px;
    height: 100%;
}
.s_container ul li:hover{
	color:#2674dc;
	cursor: pointer;
}