@CHARSET "UTF-8";

.clearfix:before, .clearfix:after {
  
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1; /*IE/7/6*/
    
}

a {
    color: #666; 
    text-decoration: none;
}

a:hover {
    color: #C81623;
}

h1, h2, h3, h4, h5, h6 {
    text-decoration: none;
    font-weight: normal;
    font-size: 100%;
}

s, i, em {
    
    font-style: normal; 
    text-decoration: none; 
}

.col-red {
    color: #C81623 !important; 
}


.w {
  
    width:100%;
    margin: 0 auto;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.al {
    text-align: left;
}

.ac {
    text-align: center;
}

.ar {
    text-align: right;
}

.hide {
    display: none;
}


.bx {
    width: 99%;
  
   margin-left:10px;
  
}

.head {
    border-bottom: 1px solid #9E9E9E;
    padding-bottom: 3px;
}

.head li {
    width: 112px;
    text-align: center;
    height: 28px;
    line-height: 28px;
    display: inline-block;
    float: left;
    font-family: "微软雅黑";
    font-size: 14px;
    margin: 6px;
    cursor: pointer

}

.head .one {
    background-color: #2F8AE3;
    font-size: 14px;
    color: #ffffff;
    border-radius: 20px;

}


/*navigation寮�*/
.navigation {
    heihgt: 70px;
    display: inline-block;
    float: left;
    /*border: 1px solid red;*/
    width: 100%;
}

.navigation .left {
    float: left;
    line-height: 71px;
}

.navigation .left img {
    float: left;
    margin-top: 20px;
}

.navigation .left .news {
    font-size: 16px;
    margin-left:5px;
    font-family: "微软雅黑";
    margin-top: -3px;
    margin-right: 40px;
}

.navigation .left .button1 {
    height: 26px;
    width: 168px;
    line-height: 26px;
    border: 1px solid #d0d0d0;
    border-radius: 3px;
    margin: 20px 10px;

}

.navigation .left .button1 div {
    margin-left: 12px;
}

.navigation .left .button1 img {
    margin-top: 12px;
    cursor: pointer;

}

.navigation .left div {
    float: left;
}

.navigation .right {
    float: right;
    margin-top: 18px;
}

/*表格*/
table {
    border-collapse: collapse;
    border-spacing: 0;
}

.th,
td {
    color: #404060;
    padding: 10px;
}

.th {
    background-color: #fff;
   font-size:15px;
    color: #2F5C8F;
    font-weight: bold; 
    border: 0px;
}

td {
    font: 14px "微软雅黑";
}

tr {
    border: 1px solid #c0c0c0;
}
tr:nth-child(even) {
    background-color: #fff;
}
tr:nth-child(odd) {
    background-color: #F6F7F9;
}

tr:hover {
    background-color: #D3E7FA;
}

/*表格底部*/
.footer {
    margin-top: 5px;
    heihgt: 40px;
    line-height: 40px;
    background-color: #fff;
    border: 1px solid #d0d0d0;
}

.footer div {
    display: inline-block;
    float: left;
    margin-left:20px;
    font-size: 14px;
}

.footer .read {
    margin-left: 16px;
    cursor: pointer;
}

/*center.jsp 样式  */

.head li{
			width: 154px;
			text-align: left;
		}
		#qt {
			width:100%;
			margin-top: 50px;
			display: none;
		}
		.center .login {
		    width: 550px;
		    height: 336px;
		    margin: 0px auto;
		}
		
		.center .login .header {
		    height: 31px;
		    line-height: 31px;
		    background-color: #3791DA;
		    color: #fff;
		    font-size: 14px;
		    text-align: center;
		    border-radius: 4px 4px 0px 0px;
		}
		.center .login .middle {
		    /*border-bottom:2px solid #DCDCDC;*/
		    border: 1px solid #DCDCDC;
		
		}
		.center .login .middle .color{
		    color:#2A588C;
		}
		.center .login .middle .le{
		    margin-left:25px;
		
		}
		.center .login .publisher {
		    height:50px;
		    line-height:50px;
		    /*border:2px dashed black;*/
		    margin-top:20px;
		}
		.center .login .publisher div{
		    float: left;
		}
		.center .login .subject {
		    height:26px;
		    line-height:26px;
		    /*border:2px dashed black;*/
		    margin-top:18px;
		}
		.center .login .subject div {
		    float: left;
		
		}
		.center .login .date {
		    height:24px;
		    line-height:24px;
		    /*border:2px dashed black;*/
		    margin-top:13px;
		}
		.center .login .date div {
		    float: left;
		}
		.center .login .ce1 {
		    height:25px;
		    line-height:25px;
		    /*border:2px dashed black;*/
		    margin-top:13px;
		}
		.center .login .ce1 div {
		    float: left;
		}
		.center .login .ce2 {
		    height:26px;
		    line-height:26px;
		    /*border:2px dashed black;*/
		    margin-top:17px;
		    margin-bottom:15px;
		}
		.center .login .ce2 div {
		    float: left;
		}
		.center .login .icons {
		    height:58px;
		    line-height:58px;
		    text-align: center;
		    border:1px solid #DCDCDC;
		
		}
		.center .logins .icon .img {
		    float: left;
		}
		input{
     		border: 1px solid #ccc;
     	}
     	/* 查询输入框 */
     	#input_text1 {
     		height:50px;
     		width:279px;
     		margin-left:0px;
     		margin-right: 15px;
     	    position: relative;
     	}
     	.input_text2 {
     		height:26px;
     		width:279px;
     		margin-left:0px;
     		margin-right: 15px;
     		position: relative;
     	}
     	.input_text3{
     		height:24px;
     		width:119px;
     		margin-left:0px;
     		margin-right: 11px;
     		position: relative
     	
     	}
     	.input_text4 {
     		height:24px;
     		width:119px;
     		margin-left:11px;
     	}
     	.input_text5 {
     		height:24px;
     		width:119px;
     		margin-left:0px;
     		float: left;
     		font-family: "微软雅黑";
     	}
     	.input_text6 {
     		height:25px;
     		width:279px;
     		margin-left:0px;
     		position: relative;
     	}
     	
     	
     	
     	
	     #cx {
	     	
	     	width:60px;
	     	hieght:30px;
	     	line-height:30px;
	     	margin-top: 18px;
	     	margin-left: 10px;
	     	text-align:center;
	     	background-image:url(../../img/center_q.png);
	     	background-repeat:no-repeat;
	        color:#fff; 
	     	cursor: pointer;
	     	font-family: "微软雅黑";
	     	}
   		

