/* .head li{
			width: 154px;
			text-align: left;
		}
		.center .login {
		    width: 550px;
		    height: 336px;
		    margin: 0px auto;
		}
		
		.center .login .header {
		    height: 31px;
		    line-height: 31px;
		    background-color: #3791DA;
		    color: #fff;
		    font-size: 14px;
		    text-align: center;
		    border-radius: 4px 4px 0px 0px;
		}
		.center .login .middle {
		    border-bottom:2px solid #DCDCDC;
		    border: 1px solid #DCDCDC;
		
		}
		.center .login .middle .color{
		    color:#2A588C;
		}
		.center .login .middle .le{
		    margin-left:25px;
		
		}
		.center .login .publisher {
		    height:50px;
		    line-height:50px;
		    border:2px dashed black;
		    margin-top:20px;
		}
		.center .login .publisher div{
		    float: left;
		}
		.center .login .subject {
		    height:26px;
		    line-height:26px;
		    border:2px dashed black;
		    margin-top:18px;
		}
		.center .login .subject div {
		    float: left;
		
		}
		.center .login .date {
		    height:24px;
		    line-height:24px;
		    border:2px dashed black;
		    margin-top:13px;
		}
		.center .login .date div {
		    float: left;
		}
		.center .login .ce1 {
		    height:25px;
		    line-height:25px;
		    border:2px dashed black;
		    margin-top:13px;
		}
		.center .login .ce1 div {
		    float: left;
		}
		.center .login .ce2 {
		    height:26px;
		    line-height:26px;
		    border:2px dashed black;
		    margin-top:17px;
		    margin-bottom:15px;
		}
		.center .login .ce2 div {
		    float: left;
		}
		.center .login .icons {
		    height:58px;
		    line-height:58px;
		    text-align: center;
		    border:1px solid #DCDCDC;
		
		}
		.center .logins .icon .img {
		    float: left;
		}
		input{
     		border: 1px solid #ccc;
     		
     	} */
     	#input1 {
     		width:12px;
     		hight:12px;
     	}
     	/* 发布范围那设置超出部分为。。。 */
     	.break_td{
     		width: 100px;
		    overflow: hidden;
		    text-overflow: ellipsis;
		    white-space: nowrap;
     	}
     	.step2 .login {
		    width: 550px;
		    height: 336px;
		    margin: 0px auto;
		}
		
		.step2 .login .header {
		    height: 31px;
		    line-height: 31px;
		    background-color: #3791DA;
		    color: #fff;
		    font-size: 14px;
		    text-align: center;
		    border-radius: 4px 4px 0px 0px;
		}
		.step2 .login .middle {
		    /*border-bottom:2px solid #DCDCDC;*/
		    border: 1px solid #DCDCDC;
		
		}
		.step2 .login .middle .color{
		    color:#2A588C;
		}
		.step2 .login .middle .le{
		    margin-left:25px;
		
		}
		.step2 .login .publisher {
		    height:50px;
		    line-height:50px;
		    /*border:2px dashed black;*/
		    margin-top:20px;
		}
		.step2 .login .publisher div{
		    float: left;
		}
		.step2 .login .subject {
		    height:26px;
		    line-height:26px;
		    /*border:2px dashed black;*/
		    margin-top:18px;
		}
		.step2 .login .subject div {
		    float: left;
		
		}
		.step2 .login .date {
		    height:24px;
		    line-height:24px;
		    /*border:2px dashed black;*/
		    margin-top:13px;
		}
		.step2 .login .date div {
		    float: left;
		}
		.step2 .login .ce1 {
		    height:25px;
		    line-height:25px;
		    /*border:2px dashed black;*/
		    margin-top:13px;
		}
		.step2 .login .ce1 div {
		    float: left;
		}
		.step2 .login .ce2 {
		    height:26px;
		    line-height:26px;
		    /*border:2px dashed black;*/
		    margin-top:17px;
		    margin-bottom:15px;
		}
		.step2 .login .ce2 div {
		    float: left;
		}
		.step2 .login .icons {
		    height:58px;
		    line-height:58px;
		    text-align: center;
		    border:1px solid #DCDCDC;
		
		}
		.step2 .logins .icon .img {
		    float: left;
		}