<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xoa.dao.users.UsersMapper" >
 <resultMap id="UserResultMap" type="com.xoa.model.users.Users" >
  <id column="UID" property="uid" jdbcType="INTEGER" javaType="int"/>
    <result column="USER_ID" property="userId" jdbcType="VARCHAR" javaType="string" />
    <result column="USER_NAME" property="userName" jdbcType="VARCHAR" javaType="string" />
    <result column="USER_NAME_INDEX" property="userNameIndex" jdbcType="VARCHAR" javaType="string" />
    <result column="BYNAME" property="byname" jdbcType="VARCHAR"  javaType="string"/>
    <result column="USEING_KEY" property="useingKey" jdbcType="CHAR"  javaType="string"/>
    <result column="USING_FINGER" property="usingFinger" jdbcType="CHAR" javaType="string" />
    <result column="PASSWORD" property="password" jdbcType="VARCHAR" javaType="string" />
    <result column="KEY_SN" property="keySn" jdbcType="VARCHAR"  javaType="string" />
    <result column="SECURE_KEY_SN" property="secureKeySn" jdbcType="VARCHAR" javaType="string" />
    <result column="USER_PRIV" property="userPriv" jdbcType="INTEGER" javaType="int"/>
    <result column="USER_PRIV_NO" property="userPrivNo" jdbcType="SMALLINT" javaType="short"/>
    <result column="USER_PRIV_NAME" property="userPrivName" jdbcType="VARCHAR" javaType="string" />
    <result column="POST_PRIV" property="postPriv" jdbcType="CHAR" javaType="string" />
    <result column="POST_DEPT" property="postDept" jdbcType="VARCHAR" javaType="string"/>
    <result column="DEPT_ID" property="deptId" jdbcType="INTEGER"  javaType="int" />
    <result column="DEPT_ID_OTHER" property="deptIdOther" jdbcType="VARCHAR" javaType="string" />
    <result column="SEX" property="sex" jdbcType="CHAR"  javaType="string" />
    <result column="BIRTHDAY" property="birthday" jdbcType="DATE" javaType="java.sql.Date" />
    <result column="IS_LUNAR" property="isLunar" jdbcType="CHAR"  javaType="string" />
    <result column="TEL_NO_DEPT" property="telNoDept" jdbcType="VARCHAR" javaType="string"  />
    <result column="FAX_NO_DEPT" property="faxNoDept" jdbcType="VARCHAR" javaType="string"  />
    <result column="ADD_HOME" property="addHome" jdbcType="VARCHAR" javaType="string" />
    <result column="POST_NO_HOME" property="postNoHome" jdbcType="VARCHAR" javaType="string" />
    <result column="TEL_NO_HOME" property="telNoHome" jdbcType="VARCHAR" javaType="string" />
    <result column="MOBIL_NO" property="mobilNo" jdbcType="VARCHAR" javaType="string" />
    <result column="BP_NO" property="bpNo" jdbcType="VARCHAR" javaType="string"  />
    <result column="EMAIL" property="email" jdbcType="VARCHAR" javaType="string" />
    <result column="OICQ_NO" property="oicqNo" jdbcType="VARCHAR" javaType="string"  />
    <result column="ICQ_NO" property="icqNo" jdbcType="VARCHAR" javaType="string" />
    <result column="MSN" property="msn" jdbcType="VARCHAR" javaType="string" />
    <result column="AVATAR" property="avatar" jdbcType="VARCHAR" javaType="string" />
    <result column="CALL_SOUND" property="callSound" jdbcType="CHAR" javaType="string" />
    <result column="LAST_VISIT_TIME" property="lastVisitTime" jdbcType="TIMESTAMP" javaType="java.sql.Timestamp" />
    <result column="SMS_ON" property="smsOn" jdbcType="CHAR"  javaType="string" />
    <result column="MENU_TYPE" property="menuType" jdbcType="CHAR" javaType="string" />
    <result column="LAST_PASS_TIME" property="lastPassTime" jdbcType="TIMESTAMP" javaType="java.sql.Timestamp"  />
    <result column="THEME" property="theme" jdbcType="TINYINT" javaType="byte" />
    <result column="PORTAL" property="portal" jdbcType="VARCHAR" javaType="string" />
    <result column="PANEL" property="panel" jdbcType="CHAR" javaType="string" />
    <result column="ONLINE" property="online" jdbcType="INTEGER"  javaType="int" />
    <result column="ON_STATUS" property="onStatus" jdbcType="CHAR" javaType="string"  />
    <result column="ATTEND_STATUS" property="attendStatus" jdbcType="CHAR" javaType="string" />
    <result column="MOBIL_NO_HIDDEN" property="mobilNoHidden" jdbcType="CHAR" javaType="string" />
    <result column="MYTABLE_LEFT" property="mytableLeft" jdbcType="VARCHAR" javaType="string" />
    <result column="MYTABLE_RIGHT" property="mytableRight" jdbcType="VARCHAR" javaType="string" />
    <result column="USER_PRIV_OTHER" property="userPrivOther" jdbcType="VARCHAR" javaType="string" />
    <result column="USER_NO" property="userNo" jdbcType="SMALLINT" javaType="short" />
    <result column="NOT_LOGIN" property="notLogin" jdbcType="TINYINT" javaType="byte" />
    <result column="NOT_VIEW_USER" property="notViewUser" jdbcType="CHAR"  javaType="string" />
    <result column="NOT_VIEW_TABLE" property="notViewTable" jdbcType="CHAR" javaType="string" />
    <result column="NOT_SEARCH" property="notSearch" jdbcType="CHAR" javaType="string" />
    <result column="BKGROUND" property="bkground" jdbcType="VARCHAR" javaType="string" />
    <result column="BIND_IP" property="bindIp" jdbcType="VARCHAR" javaType="string" />
    <result column="LAST_VISIT_IP" property="lastVisitIp" jdbcType="VARCHAR" javaType="string" />
    <result column="MENU_IMAGE" property="menuImage" jdbcType="VARCHAR" javaType="string" />
    <result column="WEATHER_CITY" property="weatherCity" jdbcType="VARCHAR" javaType="string" />
    <result column="SHOW_RSS" property="showRss" jdbcType="CHAR" javaType="string" />
    <result column="MENU_EXPAND" property="menuExpand" jdbcType="CHAR" javaType="string" />
    <result column="MY_STATUS" property="myStatus" jdbcType="VARCHAR" javaType="string" />
    <result column="LIMIT_LOGIN" property="limitLogin" jdbcType="CHAR" javaType="string" />
    <result column="PHOTO" property="photo" jdbcType="VARCHAR" javaType="string" />
    <result column="IM_RANGE" property="imRange" jdbcType="TINYINT" javaType="byte" />
    <result column="LEAVE_TIME" property="leaveTime" jdbcType="TIMESTAMP"  javaType="java.sql.Timestamp" />
    <result column="SECRET_LEVEL" property="secretLevel" jdbcType="INTEGER" javaType="int" />
    <result column="NOT_MOBILE_LOGIN" property="notMobileLogin" jdbcType="TINYINT" javaType="string" />
    <result column="MANAGE_MODULE_TYPE" property="manageModuleType" jdbcType="VARCHAR" javaType="string" />
    <result column="USER_PRIV_TYPE" property="userPrivType" jdbcType="TINYINT" javaType="java.sql.Timestamp" />
    <result column="USER_MANAGE_ORGS" property="userManageOrgs" jdbcType="VARCHAR" javaType="string" />
    <result column="SHORTCUT" property="shortcut" jdbcType="LONGVARCHAR" javaType="string" />
    <result column="MY_RSS" property="myRss" jdbcType="LONGVARCHAR" javaType="string" />
    <result column="REMARK" property="remark" jdbcType="LONGVARCHAR" javaType="string" />
    <result column="USER_PARA" property="userPara" jdbcType="LONGVARCHAR" javaType="string" />
    </resultMap>
    <select id="getRegister" resultMap="UserResultMap">
         select USER_ID,BYNAME,PASSWORD FROM user WHERE BYNAME= #{byname} 
    </select>
</mapper>


