<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xoa.dao.file.File_ContentMapper">
	<resultMap id="file_ContentResultMap" type="com.xoa.model.file.File_Content">
		<id column="CONTENT_ID" property="content_id" jdbcType="INTEGER"  />
		<result column="SORT_ID" property="sort_id" jdbcType="INTEGER" />
		<result column="SUBJECT" property="subject" jdbcType="VARCHAR" />
		<result column="CONTENT" property="content" jdbcType="VARCHAR" />
		<result column="SEND_TIME" property="send_time" jdbcType="VARCHAR" />
		<result column="ATTACHMENT_ID" property="attachment_id" jdbcType="VARCHAR" />
		<result column="ATTACHMENT_NAME" property="attachment_name" jdbcType="VARCHAR" />
		<result column="ATTACHMENT_DESC" property="attachment_desc" jdbcType="VARCHAR" />
		<result column="USER_ID" property="user_id" jdbcType="VARCHAR" />
		<result column="CONTENT_NO" property="content_no" jdbcType="INTEGER" />
		<result column="NEW_PERSON" property="new_person" jdbcType="VARCHAR" />
		<result column="READERS" property="readers" jdbcType="VARCHAR" />
		<result column="CREATER" property="creater" jdbcType="VARCHAR" />
		<result column="LOGS" property="logs" jdbcType="VARCHAR" />
		<result column="KEYWORD" property="keyword" jdbcType="VARCHAR" />
		</resultMap>
		<delete id="fileContentDeleBySort_id" parameterType="int">
		delete from  file_content where SORT_ID=#{tempNo};
		</delete>
</mapper>
