@import url(m_reset.css);
html,
body,

.wrap{
	width:100%;
	height:100%;
}
.head{
	width:100%;
	height:70px;
	background:#2b7fe0;
}
.head_left{
	width:19%;
	text-align:center;
	height:100%;
	/* background:red; */
}
.head_mid{
	width:54%;
	height:100%;
}
.head_mid ul li{
	width:18%;
	height:33px;	
	float:left;
	color:#595959;
	text-align:center;
	line-height:33px;
	margin-top: 36px;
}
.head_mid ul li h1,.head_mid ul li img{
	float:left;
}
.head_mid ul li h1{
	margin-left: 20%;
	font-size:14px;
}
.head_mid ul li img{
	margin-top: 11px;
    margin-left: 25%;
    width: 8%;
}
.head_rig{
	width:27%;
	height:100%;
}
.head_rig img{
	margin-left: 10%;
    margin-top: 7%;
    height: 31%;
}
.head_left,.head_mid,.head_rig{
	float:left;
}
.cont{
	width:100%;
	height:685px;
	background:#e3edf8;
	
}
.cont_left{
	width:17%;
	height:100%;
	background:#e3edf8;
}
.all_ul{
	width:90%;
	height:100%;
	/* background:red; */
	margin-left: 5%;
	overflow:hidden;
}
.tab_cone{
	height:760px;
	overflow-y:scroll;
}
.top_ul{
	width:90%;
	height:54%;
	border:1px solid #5e5e5e;
	border-radius:8px;
	margin-top:4%;
	margin-left: 3%;
}
.top_ul li{
	width:50%;
	height:100%;
	float:left;
	background:#efefef;
	text-align:center;
	line-height:28px;
	border-radius:8px;
	/* color:#fff; */
}
.yingy{
	background:#2b7fe0 !important;
	color:#fff;
}
.all_ul div{
	/* height:52px; */
	width:100%;
	/* border-bottom:2px solid #e3e3e5; */
}
/*  .one_logo,.one_name{
	float:left;
} */
.one{
	width:100%;
}
.one_logo,.down_jiao,.one_name{
	float:left;
}
.down_jiao{
	margin-top:10%;
}
.one_logo{
	margin-top:7%;
}
.xuan{
	width:100%;
	height:20%;
	background:red;
}
.one_name{
	line-height:50px;
	margin-left: 6%;
	width: 60%;
	/* margin-top: -17%; */
	font-size:14px;
	font-weight: bold;
}
.two_all h1{
	line-height:40px;
	margin-left: 6%;
	width: 75%;
	/* margin-top: -17%; */
	font-size:14px;
}
.person_logo{
	margin-left: 5%;
    margin-top: 7%;
}
.person_down{
	margin-left: 35%;
    margin-top: 10%;
}
.cont_rig{
	width:83%;
	height:100%;
	background:#fff;
}
.cont_nav{
	width:100%;
	height:8%;
	background:#efefef;
}
.cont_nav ul li{
	width:9%;
	height:32px;
	/* background:red; */
	float:left;
	border-radius:16px;
	text-align:center;
	line-height:32px;
	margin-top:0.8%;
}
.infame{
	background:#3e8ae1;
	color:#fff;
}
.img_all{
	width:96%;
	height:94%;
	/* background:red; */
	/* text-align:center; */
	margin:0.3% auto;
}
.right_one{
	width:20%;
	height:35%;
	/* background:green; */
	float:left;
	margin-left:4%;
	margin-top:5%;
}
.r_one_top{
	width:100%;
	height:65%;
	background:#60bb5c;
}
.r_one_top img{
	margin:4% 25%;
}
.r_one_bot{
	width:100%;
	height:45%;
	background:#ededed;
}
.r_one_bot h1{
	color:#404040;
	font-size:14px;
	line-height:40px;
	margin-left:6%;
}
.r_one_bot h2{
	color:#919191;
	line-height:26px;
	margin-left:6%;
}
.click_erji img,.click_erji h1{
	float:left;
}
.click_erji img{
	margin-top:12%;
}
.cont_left,.cont_rig{
	float:left;
}
.foot{
	width:100%;
	height:40px;
	background:#2b7fe0;
	position:fixed;
	bottom:0px;
}
.foot h1,.foot h2{
	float:left;
	font-size:16px;
	color:#fff;
	margin-top:0.4%;
}
.foot h1{
	margin-left:2%;
}
/* .foot h2{
	margin-left:74%;
} */
.foot .lunbo{
	width: 40%;
    height: 100%;
}
.foot_left,.foot_rig,.foot .lunbo{
	float:left;
}