@import url(m_reset.css);
html,
body,

.wrap{
	width:100%;
	height:100%;
		overflow:hidden;
}
.head{
	width:100%;
	height:70px;
	 background: url(../../img/main_img/bg.png) -42px 0px no-repeat;
}
.head_left{
	width:16.9%;
	height:100%;
}

.head_mid{
	width:54%;
	height:100%;
}
.gongzuoliu{
	width:11%;
	height:33px;	
	float:left;
	color:#595959;
	line-height:33px;
	margin-top: 36px;
	background: url(../../img/main_img/title_no.png) -42px 0px no-repeat;
	/* border:2px solid #666;
	border-radius:5px 5px 0 0; */
}
/* .gongzuoliu h1,.gongzuoliu div{
	float:left;
} */
.no{
	background:#999;
}
 .head_mid ul li h1,.head_mid ul li div{
	float:left;
} 
.head_mid ul li h1{
	margin-left: 8%;
	font-size:10px;
}
.head_mid ul li img{
	margin-top: 14%;
    margin-left: 9%;
    width: 8%;
}
.head_rig{
	width:27%;
	height:100%;
}
.head_rig li{
	float:left;
	margin-left: 10%;
    margin-top: 7%;
}
.head_rig img{
	
    height: 31%;
}
/* ÓÒ²àµÄlogo */
 #taskbar_right #task_center {
    display: inline-block;
    width: 15%;
    height: 45%;
    margin-top: 5%;
    margin-right: 10px;
    background: url(../../img/main_img/right_two.png) 0px 0px no-repeat;
}
 #taskbar_right #sns {
    display: inline-block;
    width: 15%;
    height: 45%;
    margin-top: 10px;
    margin-right: 10px;
    background: url(../../img/main_img/right_two.png) -80px 0px no-repeat;
}
 #taskbar_right #help {
    display: inline-block;
    width: 15%;
    height: 45%;
    margin-top: 10px;
    margin-right: 10px;
    background: url(../../img/main_img/right_two.png) -160px 0px no-repeat;
}
 #taskbar_right #person_info {
    display: inline-block;
    width: 15%;
    height: 45%;
    margin-top: 10px;
    margin-right: 10px;
    background: url(../../img/main_img/right_two.png) -233px -1px no-repeat;
}
 #taskbar_right #theme {
    display: inline-block;
    width: 15%;
    height: 45%;
    margin-top: 10px;
    margin-right: 10px;
    background: url(../../img/main_img/right_two.png) -313px 0px no-repeat;
}
.head_left,.head_mid,#taskbar_right{
	float:left;
}
.cont{
	width:100%;
	/* height:100%; */
	background:#e3edf8;
	overflow:hidden;
}
.cont_left{
	width:17%;
	height:100%;
	background:#e3edf8;
}
.all_ul{
	width:90%;
	height:100%;
	margin-left: 5%;
	overflow:hidden;
}
.tab_cone{
	height:760px;
	overflow-y:scroll;
}
.top_ul{
	width:90%;
	height:54%;
	border:1px solid #5e5e5e;
	border-radius:8px;
	margin-top:4%;
	margin-left: 3%;
}
.top_ul li{
	width:50%;
	height:100%;
	float:left;
	background:#efefef;
	text-align:center;
	line-height:28px;
	border-radius:8px;
}
.yingy{
	background:#2b7fe0 !important;
	color:#fff;
}
.all_ul div{
	width:100%;
}
.two_all{
	width:72%;
	height:100%;
}
.one{
	width:100%;
}
.one_logo,.down_jiao,.one_name{
	float:left;
}
.down_jiao{
	margin-top:10%;
}
.one_logo{
	margin-top:7%;
}
.xuan{
	width: 100%;
    height: 40px;
    color: #fff;
    line-height: 40px;
    background: #999;
}
.one_name{
	line-height:50px;
	margin-left: 6%;
	width: 60%;
	font-size:14px;
	font-weight: bold;
}
.two_all h1{
	line-height:40px;
	margin-left: 22%;
	width: 75%;
	font-size:14px;
}
.choose{
	width: 13%;
    height: 33px;
    float: left;
    color: #595959;
    line-height: 33px;
    margin-top: 36px;
    background:orange;
    border: 2px solid #666;
    border-radius: 5px 5px 0 0;
}
}
.person_logo{
	margin-left: 5%;
    margin-top: 7%;
}
.person_down{
	margin-left: 35%;
    margin-top: 10%;
}
.cont_rig{
	width:83%;
	height:100%;
	background:#fff;
}
.cont_nav{
	width:100%;
	height:46px;
	background:#efefef;
}
.cont_nav ul li{
	width:7%;
	    height: 27px;
	float:left;
	border-radius:16px;
	text-align:center;
	line-height:27px;
	margin-top:0.8%;
}
.infame{
	background:#3e8ae1;
	color:#fff;
}
.img_all{
	width:96%;
	height:94%;
	margin:0.3% auto;
}
.right_one{
	width:20%;
	height:35%;
	float:left;
	margin-left:4%;
	margin-top:5%;
}
.r_one_top{
	width:100%;
	height:65%;
	background:#60bb5c;
}
.r_one_top img{
	margin:4% 25%;
}
.r_one_bot{
	width:100%;
	height:45%;
	background:#ededed;
}
.r_one_bot h1{
	color:#404040;
	font-size:14px;
	line-height:40px;
	margin-left:6%;
}
.r_one_bot h2{
	color:#919191;
	line-height:26px;
	margin-left:6%;
}
.click_erji img,.click_erji h1{
	float:left;
}
.click_erji img{
	margin-top:9%;
	margin-left:-16%;
}
.cont_left,.cont_rig{
	float:left;
}
.foot{
	width:100%;
	height:40px;
	background:#2b7fe0;
	position:fixed;
	bottom:0px;
}
.foot h1,.foot h2{
	float:left;
	font-size:16px;
	color:#fff;
	margin-top:0.4%;
}
.foot h1{
	margin-left:2%;
}

.foot .lunbo{
	width: 40%;
    height: 100%;
    margin-left: 32%;
}
.lunbo li{
	text-align:center;
	line-height:40px;
	font-size:14px;
	color:#fff;
}
.foot_left,.foot_rig,.foot .lunbo{
	float:left;
}