<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xoa.dao.im.ImChatListMapper">
	<resultMap id="BaseResultMap" type="com.xoa.model.im.ImChatList">
		<id column="LIST_ID" property="listId" jdbcType="INTEGER" />
		<result column="FROM_UID" property="fromUid" jdbcType="VARCHAR" />
		<result column="TO_UID" property="toUid" jdbcType="VARCHAR" />
		<result column="OF_FROM" property="ofFrom" jdbcType="VARCHAR" />
		<result column="OF_TO" property="ofTo" jdbcType="VARCHAR" />
		<result column="LAST_TIME" property="lastTime" jdbcType="VARCHAR" />
		<result column="LAST_ATIME" property="lastAtime" jdbcType="INTEGER" />
		<result column="LAST_FILE_ID" property="lastFileId" jdbcType="VARCHAR" />
		<result column="LAST_FILE_NAME" property="lastFileName"
			jdbcType="VARCHAR" />
		<result column="LAST_THUMBNAIL_URL" property="lastThumbnailUrl"
			jdbcType="VARCHAR" />
		<result column="TYPE" property="type" jdbcType="VARCHAR" />
		<result column="MSG_TYPE" property="msgType" jdbcType="CHAR" />
		<result column="UUID" property="uuid" jdbcType="VARCHAR" />
	</resultMap>
	<resultMap id="ResultMapWithBLOBs" type="com.xoa.model.im.ImChatList"
		extends="BaseResultMap">
		<result column="LAST_CONTENT" property="lastContent" jdbcType="LONGVARCHAR" />
	</resultMap>

	<sql id="Example_Where_Clause">
		<where>
			<foreach collection="oredCriteria" item="criteria" separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value}
									and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Update_By_Example_Where_Clause">
		<where>
			<foreach collection="example.oredCriteria" item="criteria"
				separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value}
									and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Base_Column_List">
		LIST_ID, FROM_UID, TO_UID, OF_FROM, OF_TO, LAST_TIME,
		LAST_ATIME,
		LAST_FILE_ID, LAST_FILE_NAME,
		LAST_THUMBNAIL_URL, TYPE,
		MSG_TYPE, UUID
	</sql>
	<sql id="Blob_Column_List">
		LAST_CONTENT
	</sql>
	<select id="selectByFromId" parameterType="String" resultMap="BaseResultMap"> 
	    select * from im_chat_list where FROM_UID = #{fromId} or TO_UID = #{fromId}
	</select>
	
	<select id="selectChatListByParams" parameterType="Map"
		resultMap="BaseResultMap"> 
		select * from im_chat_list where 1=1
		<if test="listId != null"> and LIST_ID=#{listId}</if>
		<if test="fromUid != null"> and FROM_UID=#{fromUid}</if>
		<if test="toUid != null"> and TO_UID=#{toUid}</if>
		<if test="ofFrom != null"> and OF_FROM=#{ofFrom}</if>
		<if test="ofTo !=null "> and OF_TO=#{ofTo}</if>
		<if test="lastTime != null"> and LAST_TIME=#{lastTime}</if>
		<if test="lastAtime != null"> and LAST_ATIME=#{lastAtime}</if>
		<if test="lastFileId != null"> and LAST_FILE_ID=#{lastFileId}</if>
		<if test="lastFileName != null"> and LAST_FILE_NAME=#{lastFileName}</if>
		<if test="lastThumbnailUrl != null"> and LAST_THUMBNAIL_URL=#{lastThumbnailUrl}</if>
		<if test="type != null"> and TYPE=#{type}</if>
		<if test="msgType != null"> and MSG_TYPE=#{msgType}</if>
		<if test="uuid != null"> and UUID=#{uuid}</if>
	</select>
	<select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs"
		parameterType="com.xoa.model.im.ImChatListExample">
		select
		<if test="distinct">
			distinct
		</if>
		<include refid="Base_Column_List" />
		,
		<include refid="Blob_Column_List" />
		from im_chat_list
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
	</select>
	<select id="selectByExample" resultMap="BaseResultMap"
		parameterType="com.xoa.model.im.ImChatListExample">
		select
		<if test="distinct">
			distinct
		</if>
		<include refid="Base_Column_List" />
		from im_chat_list
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
	</select>
	<select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		,
		<include refid="Blob_Column_List" />
		from im_chat_list
		where LIST_ID = #{listId,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from
		im_chat_list
		where LIST_ID = #{listId,jdbcType=INTEGER}
	</delete>
	
	<delete id="deleteByExample" parameterType="com.xoa.model.im.ImChatListExample">
		delete from im_chat_list
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</delete>
	<insert id="insert" parameterType="com.xoa.model.im.ImChatList">
		insert into im_chat_list
		(LIST_ID, FROM_UID, TO_UID,
		OF_FROM, OF_TO, LAST_TIME,
		LAST_ATIME,
		LAST_FILE_ID, LAST_FILE_NAME,
		LAST_THUMBNAIL_URL, TYPE, MSG_TYPE,
		UUID,
		LAST_CONTENT)
		values (#{listId,jdbcType=INTEGER},
		#{fromUid,jdbcType=VARCHAR},
		#{toUid,jdbcType=VARCHAR},
		#{ofFrom,jdbcType=VARCHAR}, #{ofTo,jdbcType=VARCHAR},
		#{lastTime,jdbcType=VARCHAR},
		#{lastAtime,jdbcType=INTEGER},
		#{lastFileId,jdbcType=VARCHAR},
		#{lastFileName,jdbcType=VARCHAR},
		#{lastThumbnailUrl,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR},
		#{msgType,jdbcType=CHAR},
		#{uuid,jdbcType=VARCHAR},
		#{lastContent,jdbcType=LONGVARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.xoa.model.im.ImChatList">
		insert into im_chat_list
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="listId != null">
				LIST_ID,
			</if>
			<if test="fromUid != null">
				FROM_UID,
			</if>
			<if test="toUid != null">
				TO_UID,
			</if>
			<if test="ofFrom != null">
				OF_FROM,
			</if>
			<if test="ofTo != null">
				OF_TO,
			</if>
			<if test="lastTime != null">
				LAST_TIME,
			</if>
			<if test="lastAtime != null">
				LAST_ATIME,
			</if>
			<if test="lastFileId != null">
				LAST_FILE_ID,
			</if>
			<if test="lastFileName != null">
				LAST_FILE_NAME,
			</if>
			<if test="lastThumbnailUrl != null">
				LAST_THUMBNAIL_URL,
			</if>
			<if test="type != null">
				TYPE,
			</if>
			<if test="msgType != null">
				MSG_TYPE,
			</if>
			<if test="uuid != null">
				UUID,
			</if>
			<if test="lastContent != null">
				LAST_CONTENT,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="listId != null">
				#{listId,jdbcType=INTEGER},
			</if>
			<if test="fromUid != null">
				#{fromUid,jdbcType=VARCHAR},
			</if>
			<if test="toUid != null">
				#{toUid,jdbcType=VARCHAR},
			</if>
			<if test="ofFrom != null">
				#{ofFrom,jdbcType=VARCHAR},
			</if>
			<if test="ofTo != null">
				#{ofTo,jdbcType=VARCHAR},
			</if>
			<if test="lastTime != null">
				#{lastTime,jdbcType=VARCHAR},
			</if>
			<if test="lastAtime != null">
				#{lastAtime,jdbcType=INTEGER},
			</if>
			<if test="lastFileId != null">
				#{lastFileId,jdbcType=VARCHAR},
			</if>
			<if test="lastFileName != null">
				#{lastFileName,jdbcType=VARCHAR},
			</if>
			<if test="lastThumbnailUrl != null">
				#{lastThumbnailUrl,jdbcType=VARCHAR},
			</if>
			<if test="type != null">
				#{type,jdbcType=VARCHAR},
			</if>
			<if test="msgType != null">
				#{msgType,jdbcType=CHAR},
			</if>
			<if test="uuid != null">
				#{uuid,jdbcType=VARCHAR},
			</if>
			<if test="lastContent != null">
				#{lastContent,jdbcType=LONGVARCHAR},
			</if>
		</trim>
	</insert>
	<select id="countByExample" parameterType="com.xoa.model.im.ImChatListExample"
		resultType="java.lang.Integer">
		select count(*) from im_chat_list
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</select>
	<update id="updateByExampleSelective" parameterType="map">
		update im_chat_list
		<set>
			<if test="record.listId != null">
				LIST_ID = #{record.listId,jdbcType=INTEGER},
			</if>
			<if test="record.fromUid != null">
				FROM_UID = #{record.fromUid,jdbcType=VARCHAR},
			</if>
			<if test="record.toUid != null">
				TO_UID = #{record.toUid,jdbcType=VARCHAR},
			</if>
			<if test="record.ofFrom != null">
				OF_FROM = #{record.ofFrom,jdbcType=VARCHAR},
			</if>
			<if test="record.ofTo != null">
				OF_TO = #{record.ofTo,jdbcType=VARCHAR},
			</if>
			<if test="record.lastTime != null">
				LAST_TIME = #{record.lastTime,jdbcType=VARCHAR},
			</if>
			<if test="record.lastAtime != null">
				LAST_ATIME = #{record.lastAtime,jdbcType=INTEGER},
			</if>
			<if test="record.lastFileId != null">
				LAST_FILE_ID = #{record.lastFileId,jdbcType=VARCHAR},
			</if>
			<if test="record.lastFileName != null">
				LAST_FILE_NAME = #{record.lastFileName,jdbcType=VARCHAR},
			</if>
			<if test="record.lastThumbnailUrl != null">
				LAST_THUMBNAIL_URL =
				#{record.lastThumbnailUrl,jdbcType=VARCHAR},
			</if>
			<if test="record.type != null">
				TYPE = #{record.type,jdbcType=VARCHAR},
			</if>
			<if test="record.msgType != null">
				MSG_TYPE = #{record.msgType,jdbcType=CHAR},
			</if>
			<if test="record.uuid != null">
				UUID = #{record.uuid,jdbcType=VARCHAR},
			</if>
			<if test="record.lastContent != null">
				LAST_CONTENT =
				#{record.lastContent,jdbcType=LONGVARCHAR},
			</if>
		</set>
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByExampleWithBLOBs" parameterType="map">
		update im_chat_list
		set LIST_ID = #{record.listId,jdbcType=INTEGER},
		FROM_UID = #{record.fromUid,jdbcType=VARCHAR},
		TO_UID =
		#{record.toUid,jdbcType=VARCHAR},
		OF_FROM =
		#{record.ofFrom,jdbcType=VARCHAR},
		OF_TO =
		#{record.ofTo,jdbcType=VARCHAR},
		LAST_TIME =
		#{record.lastTime,jdbcType=VARCHAR},
		LAST_ATIME =
		#{record.lastAtime,jdbcType=INTEGER},
		LAST_FILE_ID =
		#{record.lastFileId,jdbcType=VARCHAR},
		LAST_FILE_NAME =
		#{record.lastFileName,jdbcType=VARCHAR},
		LAST_THUMBNAIL_URL =
		#{record.lastThumbnailUrl,jdbcType=VARCHAR},
		TYPE =
		#{record.type,jdbcType=VARCHAR},
		MSG_TYPE =
		#{record.msgType,jdbcType=CHAR},
		UUID =
		#{record.uuid,jdbcType=VARCHAR},
		LAST_CONTENT =
		#{record.lastContent,jdbcType=LONGVARCHAR}
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByExample" parameterType="map">
		update im_chat_list
		set LIST_ID = #{record.listId,jdbcType=INTEGER},
		FROM_UID = #{record.fromUid,jdbcType=VARCHAR},
		TO_UID =
		#{record.toUid,jdbcType=VARCHAR},
		OF_FROM =
		#{record.ofFrom,jdbcType=VARCHAR},
		OF_TO =
		#{record.ofTo,jdbcType=VARCHAR},
		LAST_TIME =
		#{record.lastTime,jdbcType=VARCHAR},
		LAST_ATIME =
		#{record.lastAtime,jdbcType=INTEGER},
		LAST_FILE_ID =
		#{record.lastFileId,jdbcType=VARCHAR},
		LAST_FILE_NAME =
		#{record.lastFileName,jdbcType=VARCHAR},
		LAST_THUMBNAIL_URL =
		#{record.lastThumbnailUrl,jdbcType=VARCHAR},
		TYPE =
		#{record.type,jdbcType=VARCHAR},
		MSG_TYPE =
		#{record.msgType,jdbcType=CHAR},
		UUID = #{record.uuid,jdbcType=VARCHAR}
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByPrimaryKeySelective" parameterType="com.xoa.model.im.ImChatList">
		update im_chat_list
		<set>
			<if test="fromUid != null">
				FROM_UID = #{fromUid,jdbcType=VARCHAR},
			</if>
			<if test="toUid != null">
				TO_UID = #{toUid,jdbcType=VARCHAR},
			</if>
			<if test="ofFrom != null">
				OF_FROM = #{ofFrom,jdbcType=VARCHAR},
			</if>
			<if test="ofTo != null">
				OF_TO = #{ofTo,jdbcType=VARCHAR},
			</if>
			<if test="lastTime != null">
				LAST_TIME = #{lastTime,jdbcType=VARCHAR},
			</if>
			<if test="lastAtime != null">
				LAST_ATIME = #{lastAtime,jdbcType=INTEGER},
			</if>
			<if test="lastFileId != null">
				LAST_FILE_ID = #{lastFileId,jdbcType=VARCHAR},
			</if>
			<if test="lastFileName != null">
				LAST_FILE_NAME = #{lastFileName,jdbcType=VARCHAR},
			</if>
			<if test="lastThumbnailUrl != null">
				LAST_THUMBNAIL_URL =
				#{lastThumbnailUrl,jdbcType=VARCHAR},
			</if>
			<if test="type != null">
				TYPE = #{type,jdbcType=VARCHAR},
			</if>
			<if test="msgType != null">
				MSG_TYPE = #{msgType,jdbcType=CHAR},
			</if>
			<if test="uuid != null">
				UUID = #{uuid,jdbcType=VARCHAR},
			</if>
			<if test="lastContent != null">
				LAST_CONTENT = #{lastContent,jdbcType=LONGVARCHAR},
			</if>
		</set>
		where LIST_ID = #{listId,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKeyWithBLOBs" parameterType="com.xoa.model.im.ImChatList">
		update
		im_chat_list
		set FROM_UID = #{fromUid,jdbcType=VARCHAR},
		TO_UID =
		#{toUid,jdbcType=VARCHAR},
		OF_FROM = #{ofFrom,jdbcType=VARCHAR},
		OF_TO =
		#{ofTo,jdbcType=VARCHAR},
		LAST_TIME = #{lastTime,jdbcType=VARCHAR},
		LAST_ATIME = #{lastAtime,jdbcType=INTEGER},
		LAST_FILE_ID =
		#{lastFileId,jdbcType=VARCHAR},
		LAST_FILE_NAME =
		#{lastFileName,jdbcType=VARCHAR},
		LAST_THUMBNAIL_URL =
		#{lastThumbnailUrl,jdbcType=VARCHAR},
		TYPE = #{type,jdbcType=VARCHAR},
		MSG_TYPE = #{msgType,jdbcType=CHAR},
		UUID = #{uuid,jdbcType=VARCHAR},
		LAST_CONTENT = #{lastContent,jdbcType=LONGVARCHAR}
		where LIST_ID =
		#{listId,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.xoa.model.im.ImChatList">
		update
		im_chat_list
		set FROM_UID = #{fromUid,jdbcType=VARCHAR},
		TO_UID =
		#{toUid,jdbcType=VARCHAR},
		OF_FROM = #{ofFrom,jdbcType=VARCHAR},
		OF_TO =
		#{ofTo,jdbcType=VARCHAR},
		LAST_TIME = #{lastTime,jdbcType=VARCHAR},
		LAST_ATIME = #{lastAtime,jdbcType=INTEGER},
		LAST_FILE_ID =
		#{lastFileId,jdbcType=VARCHAR},
		LAST_FILE_NAME =
		#{lastFileName,jdbcType=VARCHAR},
		LAST_THUMBNAIL_URL =
		#{lastThumbnailUrl,jdbcType=VARCHAR},
		TYPE = #{type,jdbcType=VARCHAR},
		MSG_TYPE = #{msgType,jdbcType=CHAR},
		UUID = #{uuid,jdbcType=VARCHAR}
		where LIST_ID = #{listId,jdbcType=INTEGER}
	</update>
</mapper>