<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xoa.dao.im.ImRoomMapper" >
  <resultMap id="BaseResultMap" type="com.xoa.model.im.ImRoom" >
    <id column="RID" property="rid" jdbcType="INTEGER" />
    <result column="RNAMR" property="rnamr" jdbcType="VARCHAR" />
    <result column="RSET_UID" property="rsetUid" jdbcType="VARCHAR" />
    <result column="RSET_OFID" property="rsetOfid" jdbcType="VARCHAR" />
    <result column="RTIME" property="rtime" jdbcType="VARCHAR" />
    <result column="RMEMBER_UID" property="rmemberUid" jdbcType="VARCHAR" />
    <result column="RMEMBER_OFID" property="rmemberOfid" jdbcType="VARCHAR" />
    <result column="ROUT_UID" property="routUid" jdbcType="VARCHAR" />
    <result column="ROUT_OFID" property="routOfid" jdbcType="VARCHAR" />
    <result column="RINVITE" property="rinvite" jdbcType="VARCHAR" />
    <result column="RCHANGE" property="rchange" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" > 
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    RID, RNAMR, RSET_UID, RSET_OFID, RTIME, RMEMBER_UID, RMEMBER_OFID, ROUT_UID, ROUT_OFID, 
    RINVITE, RCHANGE
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.xoa.model.im.ImRoomExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from im_room
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from im_room
    where RID = #{rid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from im_room
    where RID = #{rid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.xoa.model.im.ImRoomExample" >
    delete from im_room
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xoa.model.im.ImRoom" >
    insert into im_room (RID, RNAMR, RSET_UID, 
      RSET_OFID, RTIME, RMEMBER_UID, 
      RMEMBER_OFID, ROUT_UID, ROUT_OFID, 
      RINVITE, RCHANGE)
    values (#{rid,jdbcType=INTEGER}, #{rnamr,jdbcType=VARCHAR}, #{rsetUid,jdbcType=VARCHAR}, 
      #{rsetOfid,jdbcType=VARCHAR}, #{rtime,jdbcType=VARCHAR}, #{rmemberUid,jdbcType=VARCHAR}, 
      #{rmemberOfid,jdbcType=VARCHAR}, #{routUid,jdbcType=VARCHAR}, #{routOfid,jdbcType=VARCHAR}, 
      #{rinvite,jdbcType=VARCHAR}, #{rchange,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xoa.model.im.ImRoom" >
    insert into im_room
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="rid != null" >
        RID,
      </if>
      <if test="rnamr != null" >
        RNAMR,
      </if>
      <if test="rsetUid != null" >
        RSET_UID,
      </if>
      <if test="rsetOfid != null" >
        RSET_OFID,
      </if>
      <if test="rtime != null" >
        RTIME,
      </if>
      <if test="rmemberUid != null" >
        RMEMBER_UID,
      </if>
      <if test="rmemberOfid != null" >
        RMEMBER_OFID,
      </if>
      <if test="routUid != null" >
        ROUT_UID,
      </if>
      <if test="routOfid != null" >
        ROUT_OFID,
      </if>
      <if test="rinvite != null" >
        RINVITE,
      </if>
      <if test="rchange != null" >
        RCHANGE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="rid != null" >
        #{rid,jdbcType=INTEGER},
      </if>
      <if test="rnamr != null" >
        #{rnamr,jdbcType=VARCHAR},
      </if>
      <if test="rsetUid != null" >
        #{rsetUid,jdbcType=VARCHAR},
      </if>
      <if test="rsetOfid != null" >
        #{rsetOfid,jdbcType=VARCHAR},
      </if>
      <if test="rtime != null" >
        #{rtime,jdbcType=VARCHAR},
      </if>
      <if test="rmemberUid != null" >
        #{rmemberUid,jdbcType=VARCHAR},
      </if>
      <if test="rmemberOfid != null" >
        #{rmemberOfid,jdbcType=VARCHAR},
      </if>
      <if test="routUid != null" >
        #{routUid,jdbcType=VARCHAR},
      </if>
      <if test="routOfid != null" >
        #{routOfid,jdbcType=VARCHAR},
      </if>
      <if test="rinvite != null" >
        #{rinvite,jdbcType=VARCHAR},
      </if>
      <if test="rchange != null" >
        #{rchange,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xoa.model.im.ImRoomExample" resultType="java.lang.Integer" >
    select count(*) from im_room
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update im_room
    <set >
      <if test="record.rid != null" >
        RID = #{record.rid,jdbcType=INTEGER},
      </if>
      <if test="record.rnamr != null" >
        RNAMR = #{record.rnamr,jdbcType=VARCHAR},
      </if>
      <if test="record.rsetUid != null" >
        RSET_UID = #{record.rsetUid,jdbcType=VARCHAR},
      </if>
      <if test="record.rsetOfid != null" >
        RSET_OFID = #{record.rsetOfid,jdbcType=VARCHAR},
      </if>
      <if test="record.rtime != null" >
        RTIME = #{record.rtime,jdbcType=VARCHAR},
      </if>
      <if test="record.rmemberUid != null" >
        RMEMBER_UID = #{record.rmemberUid,jdbcType=VARCHAR},
      </if>
      <if test="record.rmemberOfid != null" >
        RMEMBER_OFID = #{record.rmemberOfid,jdbcType=VARCHAR},
      </if>
      <if test="record.routUid != null" >
        ROUT_UID = #{record.routUid,jdbcType=VARCHAR},
      </if>
      <if test="record.routOfid != null" >
        ROUT_OFID = #{record.routOfid,jdbcType=VARCHAR},
      </if>
      <if test="record.rinvite != null" >
        RINVITE = #{record.rinvite,jdbcType=VARCHAR},
      </if>
      <if test="record.rchange != null" >
        RCHANGE = #{record.rchange,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update im_room
    set RID = #{record.rid,jdbcType=INTEGER},
      RNAMR = #{record.rnamr,jdbcType=VARCHAR},
      RSET_UID = #{record.rsetUid,jdbcType=VARCHAR},
      RSET_OFID = #{record.rsetOfid,jdbcType=VARCHAR},
      RTIME = #{record.rtime,jdbcType=VARCHAR},
      RMEMBER_UID = #{record.rmemberUid,jdbcType=VARCHAR},
      RMEMBER_OFID = #{record.rmemberOfid,jdbcType=VARCHAR},
      ROUT_UID = #{record.routUid,jdbcType=VARCHAR},
      ROUT_OFID = #{record.routOfid,jdbcType=VARCHAR},
      RINVITE = #{record.rinvite,jdbcType=VARCHAR},
      RCHANGE = #{record.rchange,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xoa.model.im.ImRoom" >
    update im_room
    <set >
      <if test="rnamr != null" >
        RNAMR = #{rnamr,jdbcType=VARCHAR},
      </if>
      <if test="rsetUid != null" >
        RSET_UID = #{rsetUid,jdbcType=VARCHAR},
      </if>
      <if test="rsetOfid != null" >
        RSET_OFID = #{rsetOfid,jdbcType=VARCHAR},
      </if>
      <if test="rtime != null" >
        RTIME = #{rtime,jdbcType=VARCHAR},
      </if>
      <if test="rmemberUid != null" >
        RMEMBER_UID = #{rmemberUid,jdbcType=VARCHAR},
      </if>
      <if test="rmemberOfid != null" >
        RMEMBER_OFID = #{rmemberOfid,jdbcType=VARCHAR},
      </if>
      <if test="routUid != null" >
        ROUT_UID = #{routUid,jdbcType=VARCHAR},
      </if>
      <if test="routOfid != null" >
        ROUT_OFID = #{routOfid,jdbcType=VARCHAR},
      </if>
      <if test="rinvite != null" >
        RINVITE = #{rinvite,jdbcType=VARCHAR},
      </if>
      <if test="rchange != null" >
        RCHANGE = #{rchange,jdbcType=VARCHAR},
      </if>
    </set>
    where RID = #{rid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xoa.model.im.ImRoom" >
    update im_room
    set RNAMR = #{rnamr,jdbcType=VARCHAR},
      RSET_UID = #{rsetUid,jdbcType=VARCHAR},
      RSET_OFID = #{rsetOfid,jdbcType=VARCHAR},
      RTIME = #{rtime,jdbcType=VARCHAR},
      RMEMBER_UID = #{rmemberUid,jdbcType=VARCHAR},
      RMEMBER_OFID = #{rmemberOfid,jdbcType=VARCHAR},
      ROUT_UID = #{routUid,jdbcType=VARCHAR},
      ROUT_OFID = #{routOfid,jdbcType=VARCHAR},
      RINVITE = #{rinvite,jdbcType=VARCHAR},
      RCHANGE = #{rchange,jdbcType=VARCHAR}
    where RID = #{rid,jdbcType=INTEGER}
  </update>
</mapper>