#propertyForm{
    width:19.5%;
    position: fixed;
    top: 0px;
    bottom: 1px;
    z-index: 9999;
    background: #fff;
    box-shadow: -11px 1px 14px #ccc;
    font-size: 20px;
    font-family: "Microsoft YaHei" ! important;
    overflow-y: auto ;
    transition: all 0.2s ease 0s;

}
input{
    outline: none;
}
.setUpThe{
    padding:0px 5% 0px 11%;
    line-height: 49px;
    border-bottom: 1px solid #ccc;
    background: #f7f7f7;
    position: relative;
    height: 49px;
    cursor: pointer;
}
.setUpThe.active{
    background: #add2f8;
}
body{
    font-size: 12px;
}
.setUpThe span{
    width: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: middle;
}
.setUpThe label{
    vertical-align: middle;
    display: inline-block;
}
.setUpThe .basic{
    background:url("/img/workflow/flowsetting/basic.png") no-repeat ;
}
.setUpThe .dealWithTime{
    background:url("/img/workflow/flowsetting/dealWithTime.png") no-repeat ;
}
.setUpThe .agent{
    background:url("/img/workflow/flowsetting/agent.png") no-repeat ;
}
.setUpThe .candidates{
    background:url("/img/workflow/flowsetting/candidates.png") no-repeat ;
}
.setUpThe .flowSet{
    background:url("/img/workflow/flowsetting/flowSet.png") no-repeat ;
}
.setUpThe .conditionsSet{
    background:url("/img/workflow/flowsetting/conditionsSet.png") no-repeat ;
}
.notstart{
    background:url("/img/workflow/flowsetting/notstart.png") no-repeat ;
    width: 8px;
    height: 14px;
    position: absolute;
    top:50%;
    right:6.5%;
    margin-top: -7px;
}
.candidatesUl{
    padding-left: 11%;
    border-bottom: 1px solid #ccc;
    display: none;
}
.candidatesUl li{
    font-size: 16px;
    color: #3994f7;
}
.candidatesUl li .candidatesPone{
    padding:16px 0px;
}
.candidatesUl li .candidatesPone.activeall{
    font-size: 14px;

}
.candidatesUl li .candidatesPTwo{
    border:1px solid #ccc;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -zom-border-radius: 4px;
    -ms-border-radius: 4px;
    width:87%;
    position: relative;

}
.candidatesUl>li input[type=text]{
    font-size: 14px;
    width:88%;
    height: 28px;
    line-height: 28px;
    padding-left: 7px;
    vertical-align: middle;
    border:none;
}
.candidatesUl>li p .xiala{
    width:12%;
    display: inline-block;
    vertical-align: middle;
    background: #2f8ae3;
    height: 28px;
    line-height: 28px;
    position: relative;
}
.candidatesUl li p span b{
    width: 0px;
    height: 0px;
    border-top: 5px solid #fff;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    position: absolute;
    top:50%;
    left:50%;
    margin-top: -2px;
    margin-left: -6px;
}
.candidatesUl li p label{
    font-size: 16px;
    color: #111;
}
.candidatesPothree{
    margin-bottom: 10px;
}
.candidatesPothree.activeall label{
    font-size: 14px!important;
    color: #3994f7;
    margin-bottom: 10px;
    display: inline-block;
}
.layui-form-checked i, .layui-form-checked:hover i{
    color:#3994f7!important; ;
}
.layui-form-checked span, .layui-form-checked:hover span{
    background:#3994f7!important; ;
}
.candidatesPoform{
    width: 99%;
    padding-bottom:15px;
}
.bottomstepstwoss{
    width:100%;
    height: 480px;
    max-height: 700px;
    overflow-y: auto;
}
.candidatesUl li .candidatesPoform input[type=text]{
    font-size: 14px;
    width: 80%;
    height: 28px;
    line-height: 28px;
    padding-left: 7px;
    vertical-align: middle;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -zom-border-radius: 4px;
    -ms-border-radius: 4px;

}
.candidatesUl li .candidatesPoform span{
    width: 20%;
    display: inline-block;
    vertical-align: middle;
    background: #2f8ae3;
    height: 28px;
    line-height: 28px;
    position: relative;
    color: #fff;
    text-align: center;
    font-size: 12px;
}
.btnstorage{
    height: 65px;
    position: fixed;
    bottom: 0px;
    width:19.5%;
    z-index:999999;
    background: #f7f7f7;
    transition: all 0.2s ease 0s;

}
.btnstorage a{
    float: right;
    width:24%;
    height: 33px;
    line-height: 33px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -zom-border-radius: 4px;
    -ms-border-radius: 4px;
    text-align: center;
    color: #fff;
    background: red;
    margin-top: 20px;
    margin-right: 6.5%;
    font-size: 16px;
}
.dropDownDiv{
    position: relative;
    height: 30px;
    z-index:99999;
    cursor: pointer;
}
.dropDown{
    display: none;
    background: #fff;
}
.candidatesUl .dropDown{
    border: 1px solid #ccc;
    border-top:none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -zom-border-radius: 4px;
    -ms-border-radius: 4px;
    width: 77%;
    bottom: 0px;
}
.candidatesUl .dropDown li{
    line-height: 30px;
    padding-left: 10px;
    font-size: 14px;
    color: #111;
}
.candidatesPTwo textarea{
    width:65%;
    height: 70px;
    line-height: 20px;
}
.candidatesPTwoall{

    width: 100%;
    position: relative;
}
.candidatesPTwoall ul{
    width: 76%;
    height: 57px;
    border:1px solid #ddd;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -zom-border-radius: 4px;
    -ms-border-radius: 4px;
    float: left;
    background: #eee;
    border:1px solid #ccc;
}
.candidatesUl li .candidatesPTwoall input[type=text]{
    width: 76%;
    height: 57px;
    border:1px solid #ddd;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -zom-border-radius: 4px;
    -ms-border-radius: 4px;
    float: left;
    background: #eee;
    border:1px solid #ccc;
}
.candidatesPTwoall div{
    height: 57px;
    line-height: 57px;
    font-size: 14px;
    padding-left:5px;

    
}
.candidatesPTwoall div a{
    color: #3994f7;  
}
.candidatesPTwoall:after{
    content: '';
    display: block;
    clear: both;
}
.layui-layer-title{
    padding: 0 80px 0 20px!important;
    height: 42px!important;
    line-height: 42px!important;
    border-bottom: 1px solid #eee!important;
    font-size: 16px!important;
    color: #fff!important;
    overflow: hidden!important;
    background-color: #2b7fe0!important;
    border-radius: 2px 2px 0 0!important;
}
.bottomstepstwo label{
    display: inline-block;
    margin: 10px;
    font-size: 14px;
}
.bottomstepstwo label input{
    vertical-align: middle;
}
.bottomstepstwo{
    height: 153px;
    max-height: 800px;
    overflow-y: auto;
}
.btnzhuanru{
    text-align: center;
    margin-top: 20px;
}
.btnzhuanru a{
    display: inline-block;
    padding:8px 15px;
    border-radius: 4px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    background: #2f8ae3;
    color: #fff;
    font-size: 14px;
}
.candidatesPTwo table{
    width: 100% ;
    text-align: center;
    border-collapse: collapse;
    table-layout: fixed;
    word-wrap: break-word;
    font-style: normal;
    font-size: 14px;
    border:1px solid #ddd;
    border-left: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
}
.candidatesPTwo table th{
    background: #FCFCFC;
    color: #111;
    height: 40px;
 vertical-align: middle;
    border-left: 1px solid #ddd;

}
.newtheTrigger{
    float: right;
    margin-right: 94px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius:4px;
    color: #fff!important;
    background: #2b7fe0;
    font-size: 14px!important;
    padding:5px 10px;
}
.candidatesPTwo table td{
    color: #111;
    height: 40px;
    vertical-align: middle;
    border-left: 1px solid #ddd;
    border-top:1px solid #ddd;
    font-size: 14px;
}
.candidatesPTwo textarea{
    width: 76%;
    height: 57px;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -zom-border-radius: 4px;
    -ms-border-radius: 4px;
    float: left;
    background: #eee;
    border: 1px solid #ccc;
    resize: none;
}
.canWriteFie{
    color: #111;
    font-size: 14px;
}
.btnradius{
    display: inline-block;
    padding:5px 10px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    color: #fff;
    background: #2f8ae3;
}
.layui-form-radio i:hover, .layui-form-radioed i{
    color: #2f8ae3!important;
}
table .layui-form-checked span,table .layui-form-checked:hover span{
    background: transparent!important;
}
table .layui-form-checkbox[lay-skin=primary]:hover i{
    background-color: #2f8ae3!important;
    color: #fff!important;
}
table .layui-form-checked[lay-skin=primary] i{
    background-color: #2f8ae3!important;
    color: #fff!important;
}
.candidatesPTwo .layui-form-checkbox[lay-skin=primary]{
    float: left;
    margin-left: 14px;
}
.layui-form-select dl dd.layui-this{
    background-color: #3994f7!important;
    color: #fff!important;
}
.layui-form-select dl dd{
    color: #111;
    font-size: 14px;
}
.candidatesUl>li .layui-select-title input[type=text]{
    width: 100%;
}
.candidatesPothree.activeall .layui-form-checked[lay-skin=primary] i{
    border-color: #3994f7;
    background-color: #3994f7;
    color: #fff!important;
}
.layui-form-select .layui-edge{
    border-top-color: #3994f7!important;
}
ul,
ol {
    list-style:none;
}
a{
    text-decoration: none;
    color: #333;
}
input{
    vertical-align: middle;
}