<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xoa.dao.email.EmailBoxMapper" >
  <resultMap id="BaseResultMap" type="com.xoa.model.email.EmailBoxModel" >
    <id column="BOX_ID" property="boxId" javaType="INTEGER" />
    <result column="BOX_NO" property="boxNo" javaType="INTEGER" />
    <result column="BOX_NAME" property="boxName" javaType="String" />
    <result column="USER_ID" property="userId" javaType="String" />
    <result column="DEFAULT_COUNT" property="defaultCount" javaType="String" />
  </resultMap>
  <sql id="Base_Column_List" >
    BOX_ID, BOX_NO, BOX_NAME, USER_ID, DEFAULT_COUNT
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from email_box
    where BOX_ID = #{boxId,javaType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from email_box
    where BOX_ID = #{boxId,javaType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xoa.model.email.EmailBoxModel" >
    insert into email_box (BOX_ID, BOX_NO, BOX_NAME, 
      USER_ID, DEFAULT_COUNT)
    values (#{boxId,javaType=INTEGER}, #{boxNo,javaType=INTEGER}, #{boxName,javaType=String}, 
      #{userId,javaType=String}, #{defaultCount,javaType=String})
  </insert>
  <insert id="insertSelective" parameterType="com.xoa.model.email.EmailBoxModel" >
    insert into email_box
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="boxId != null" >
        BOX_ID,
      </if>
      <if test="boxNo != null" >
        BOX_NO,
      </if>
      <if test="boxName != null" >
        BOX_NAME,
      </if>
      <if test="userId != null" >
        USER_ID,
      </if>
      <if test="defaultCount != null" >
        DEFAULT_COUNT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="boxId != null" >
        #{boxId,javaType=INTEGER},
      </if>
      <if test="boxNo != null" >
        #{boxNo,javaType=INTEGER},
      </if>
      <if test="boxName != null" >
        #{boxName,javaType=String},
      </if>
      <if test="userId != null" >
        #{userId,javaType=String},
      </if>
      <if test="defaultCount != null" >
        #{defaultCount,javaType=String},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xoa.model.email.EmailBoxModel" >
    update email_box
    <set >
      <if test="boxNo != null" >
        BOX_NO = #{boxNo,javaType=INTEGER},
      </if>
      <if test="boxName != null" >
        BOX_NAME = #{boxName,javaType=String},
      </if>
      <if test="userId != null" >
        USER_ID = #{userId,javaType=String},
      </if>
      <if test="defaultCount != null" >
        DEFAULT_COUNT = #{defaultCount,javaType=String},
      </if>
    </set>
    where BOX_ID = #{boxId,javaType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xoa.model.email.EmailBoxModel" >
    update email_box
    set BOX_NO = #{boxNo,javaType=INTEGER},
      BOX_NAME = #{boxName,javaType=String},
      USER_ID = #{userId,javaType=String},
      DEFAULT_COUNT = #{defaultCount,javaType=String}
    where BOX_ID = #{boxId,javaType=INTEGER}
  </update>
</mapper>