<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xoa.dao.auth.AuthMapper">
    <select id="getDeptName" resultType="String" parameterType="String">
        SELECT department.DEPT_NAME FROM department WHERE FIND_IN_SET(department.DEPT_ID,#{deptIds})
    </select>
    <select id="getRoleName" resultType="String" parameterType="String">
      SELECT user_priv.PRIV_NAME FROM user_priv WHERE FIND_IN_SET(user_priv.USER_PRIV,#{roleIds} )
    </select>
    <select id="getUserName" resultType="String" parameterType="String">
       SELECT `user`.USER_NAME FROM `user` WHERE FIND_IN_SET(`user`.USER_ID, #{userIds})
    </select>
</mapper>